
<div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
  <!--<button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
  <strong>{{message}}</strong>
  
</div>
<div *ngIf="messageSucces" class="alert alert-success alert-dismissible" role="alert">
  <!--<button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
  <strong>{{messageSucces}}</strong>
  
</div>
<form class="create-form" (ngSubmit)="onSubmit(userForm)">
  <div class="body-container">
    <div class="row input-form">
      <label class="col-md-2">Nombres:</label>
      <div class="col-md-10">
        <input [(ngModel)]="userForm.firstname" type="text" name="name" id="firstname" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Apellidos:</label>
      <div class="col-md-10">
        <input [(ngModel)]="userForm.lastname" type="text" id="lastname" name="lastname" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Correo:</label>
      <div class="col-md-10">
        <input [(ngModel)]="userForm.email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email" name="email" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Contraseña:</label>
      <div class="col-md-10">
        <input [(ngModel)]="userForm.password" type="password" id="password" name="pass" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Repetir Contraseña:</label>
      <div class="col-md-10">
        <input [(ngModel)]="userForm.password2" type="password" name="pass2" id="password2" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Rol</label>
      <div class="col-md-10">
        <select (change)="clientCheck()" [(ngModel)]="userForm.role" [ngModelOptions]="{standalone: true}">
          <option value="">Seleccione...</option>
          <option value="{{rol}}" *ngFor="let rol of roles">{{rol}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="showTypeClient" class="row input-form">
      <label class="col-md-2">Cliente</label>
      <div class="col-md-10">
        <select [(ngModel)]="userForm.permissions.client" [ngModelOptions]="{standalone: true}">
          <option value="">Seleccione...</option>
          <option value="{{cli._id}}" *ngFor="let cli of clients">{{cli.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="showOperator" class="row input-form">
      <label class="col-md-2">Supervisor</label>
      <div class="col-md-10">
        <select [(ngModel)]="userForm.permissions.supervisor" [ngModelOptions]="{standalone: true}">
          <option value="">Seleccione...</option>
          <option value="{{sup._id}}" *ngFor="let sup of superRol">{{sup.firstname}}</option>
        </select>
      </div>
    </div>
    <!--<div *ngIf="showTypeClient" class="row input-form">
      <label class="col-md-2">Puede ver las fotos</label>
      <div class="col-md-10">
        <input type="checkbox" [(ngModel)]="userForm.permissions.seePicture" [ngModelOptions]="{standalone: true}">
      </div>
    </div>-->
    <div *ngIf="showOrga" class="row input-form">
      <label class="col-md-2">Organización</label>
      <div class="col-md-10">
        <select [(ngModel)]="userForm.permissions.organization" [ngModelOptions]="{standalone: true}">
          <option value="">Seleccione...</option>
          <option value="{{org._id}}" *ngFor="let org of orga">{{org.name}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Género</label>
      <div class="col-md-10">
        <select [(ngModel)]="userForm.gender" [ngModelOptions]="{standalone: true}">
          <option value="" selected>Seleccione...</option>
          <option value="Male">Masculino</option>
          <option value="Female">Femenino</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn-addUser create-btn">Grabar</button>
  </div>
  <app-permissions *ngIf="showPer"></app-permissions>
  <div *ngIf="allCate">
    <h4>Categorías:</h4>
    <div *ngFor='let cate of categories; let m=index'>
      <input type="checkbox" [(ngModel)]='cate.checked' (change)="checkAll(m)" class="catecheck" [ngModelOptions]="{standalone: true}">
      <p>{{cate.name}}</p>
      <ng-container *ngFor="let cat of cate.categories; let c=index">
        <div class="check-one">
          <input type="checkbox" [(ngModel)]='cat.checked' (change)="checkSub(m, c)" class="catecheck" [ngModelOptions]="{standalone: true}">
          <p>{{cat.name}}</p>
        </div>
        <ng-container *ngFor="let sub of cat.subcategories; let s=index">
          <div class="check-two">
            <input type="checkbox" [(ngModel)]='sub.checked' class="catecheck" (change)='checkSubTwo(m, c, s)' [ngModelOptions]="{standalone: true}">
            <p>{{sub.name}}</p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</form>


