<div class="client">
  <div class="col-lg-12">
    <div class="campaign-detail">
      <div class="campaign-name">
        <span class="label">Campaña</span>
        <h2>{{params?.campaign}}</h2>
      </div>
      <div class="campaign-name">
        <span class="label">Elemento</span>
        <h2>{{params?.elementType}}</h2>
      </div>
    </div>

    <tabset>
      <tab heading='Resumen' class="campaign-tab-resume" (select)="getResume()">
        <div class="row">
          <div class="col-lg-6">
            <table class="table table-quasar table-fixed">
              <thead>
                <tr>
                  <th>INDICADOR</th>
                  <th>OK</th>
                  <th>NOK</th>
                  <th>TT</th>
                  <th>%</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Efectividad de instalación(*)</td>
                  <td>{{resume?.installs.ok}}</td>
                  <td>{{resume?.installs.nok}}</td>
                  <td>{{resume?.installs.total}}</td>
                  <td [ngClass]="{ 'green-font': resume?.installs.percent >= 80, 'yellow-font': resume?.installs.percent >= 50 && resume?.installs.percent < 80, 'red-font': resume?.installs.percent < 50 }">{{resume?.installs.percent | number:'1.2-2'}}%</td>
                </tr>
                <tr *ngIf="user.role != 'Gerente' && user.role != 'Cliente' && user.role != 'Jefe de categoria'">
                  <td>Nivel de Servicio(**)</td>
                  <td>{{resume?.service.ok}}</td>
                  <td>{{resume?.service.nok}}</td>
                  <td>{{resume?.service.total}}</td>
                  <td [ngClass]="{ 'green-font': resume?.service.percent >= 80, 'yellow-font': resume?.service.percent >= 50 && resume?.service.percent < 80, 'red-font': resume?.service.percent < 50 }">{{resume?.service.percent | number:'1.2-2'}}%</td>
                </tr>
              </tbody>
            </table>
            <p class="tiny-text">(*) Efectividad de instalación: Cantidad de instalaciones realizadas</p>
            <p *ngIf="user.role != 'Gerente' && user.role != 'Cliente' && user.role != 'Jefe de categoria'" class="tiny-text">
              (**) Nivel de servicio: Cantidad de instalaciones realizadas a tiempo</p>
          </div>
          <div class="col-lg-6 pies">
            <div class="pie-container">
              <h4>Efectividad de instalación(*)</h4>
              <canvas baseChart
                      [data]="[resume?.installs.percent, resume?.installs.percentnok]"
                      [labels]="['OK', 'NOK']"
                      [chartType]="'pie'"
                      [colors]="pieColors"
                      [options]="pieOptions"></canvas>
            </div>
            <div *ngIf="user.role != 'Gerente' && user.role != 'Cliente' && user.role != 'Jefe de categoria'" class="pie-container">
              <h4>Nivel de Servicio(**)</h4>
              <canvas baseChart
                      [data]="[resume?.service.percent, resume?.service.percentnok]"
                      [labels]="['OK', 'NOK']"
                      [chartType]="'pie'"
                      [colors]="pieColors"
                      [options]="pieOptions"></canvas>
            </div>
          </div>                      
          <div class="bars col-lg-12 graphic">
            <h3 class="title-graphic">Evolución de Instalaciones Diarias</h3>
            <div class="graphic-container">
              <canvas baseChart height="100"
                      [data]="lineChartData"
                      [labels]="labelsLineChart"
                      [options]="lineOptions"
                      [legend]="true"
                      [colors]="lineChartColours"
                      [chartType]="'bar'"></canvas>
            </div>
          </div>
        </div>
      </tab>

      <tab heading='Instalaciones' (select)="getInstalls()">
        <div class="searchUser2">
          <div class="search">
            <label>Tienda:</label>
            <input type="text" name="search" [(ngModel)]="installsFilter.store.name">
          </div>
          <div>
            <label>Instalación:</label>
            <select [(ngModel)]="installsFilter.status.install">
              <option [ngValue]="null">Seleccione...</option>
              <option [ngValue]="'OK '">OK</option>
              <option [ngValue]="'NOK'">NOK</option>
            </select>
          </div>
          <div *ngIf="user.role != 'Gerente' && user.role != 'Cliente' && user.role != 'Jefe de categoria'">
            <label>Nivel de Servicio:</label>
            <select [(ngModel)]="installsFilter.status.service">
              <option [ngValue]="null">Seleccione...</option>
              <option [ngValue]="'OK '">OK</option>
              <option [ngValue]="'NOK'">NOK</option>
            </select>
          </div>
          <div>
            <label>Inventario:</label>
            <select [(ngModel)]="installsFilter.status.inventory">
              <option [ngValue]="null">Seleccione...</option>
              <option [ngValue]="'Pendiente'">Pendiente</option>
              <option [ngValue]="'Inventariado'">Inventariado</option>
              <option [ngValue]="'Retirado'">Retirado</option>
            </select>
          </div>
        </div>

        <div class="row" id="contentScroll">
          <div class="col-lg-12">
            <table class="table table-quasar" id="tablescroll">
              <thead>
                <tr>
                  <th></th>
                  <th colspan="2">Programado</th>
                  <th colspan="2">Real</th>
                  <th colspan="6">Status</th>
                </tr>
                <tr>
                  <th class="client-store">Tienda</th>
                  <th>IN</th>
                  <th>OUT</th>
                  <th>IN</th>
                  <th>OUT</th>
                  <th>Instalación</th>
                  <th *ngIf="user.role != 'Gerente' && user.role != 'Cliente' && user.role != 'Jefe de categoria'">Nivel de Servicio</th>
                  <th>Vigencia</th>
                  <th>Inventario</th>
                  <th>Observaciones</th>
                  <th>Submotivo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of installs | filterBy: installsFilter">
                  <td class="client-store">{{ item.store.name }}</td>
                  <td>{{ item.chronological && item.chronological.install?(item.chronological.install | date: 'dd/MM/yy'):(item.duration.start | date: 'dd/MM/yy') }}</td>
                  <td>{{ item.chronological && item.chronological.uninstall?(item.chronological.uninstall | date: 'dd/MM/yy'):(item.duration.end | date: 'dd/MM/yy') }}</td>
                  <td>{{ item.real.install | date: 'dd/MM/yy HH:mm' }}</td>
                  <td>{{ item.real.uninstall | date: 'dd/MM/yy HH:mm' }}</td>
                  <td>{{ item.status.install}}</td>
                  <td *ngIf="user.role != 'Gerente' && user.role != 'Cliente' && user.role != 'Jefe de categoria'">{{ item.status.service}}</td>
                  <td>{{ item.status.validity}}</td>
                  <td>{{ item.status.inventory}}</td>
                  <td>{{ item.status.observations}}</td>
                  <td>
                    <p *ngIf="!item.real.issues?.submotive">-</p>
                    <p *ngIf="item.real.issues?.submotive">{{ item.real.issues?.submotive}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <div id="bottom_anchor"></div>
          </div>
        </div>
      </tab>
      <tab heading='Evidencias' (select)="getEvidence()">
        <div class="row">
          <div class="evi-box-img">
            <ng-container *ngIf="showevidence">
              <div *ngFor="let evi of evidences" class="col-lg-3 box-evi">
                <div class="image-box" [class.textRed]="evi.installed.status!='INSTALADO'">
                  <a class="campaignpicture" (click)="showBinna(evi)"><img onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';" [src]="base + evi.installed.picture" alt=""></a>
                  <div class="evidence-text">
                    <div class="info-evidence">
                      <p  [class.textRed]="evi.installed.status!='INSTALADO'">{{evi.store.shortName}}</p>
                      <p [class.textRed]="evi.installed.status!='INSTALADO'">{{evi.installed.date | amDateFormat: 'DD-MM-YYYY HH:mm'}}</p>
                    </div>
                    <div class="info-evidence">
                      <p [class.textRed]="evi.installed.status!='INSTALADO'">{{evi.enabled?evi.installed.status:'Cancelado'}}</p>
                      <!--<p>{{evi.installed.date | date:" HH:mm"}}</p>-->
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="showbinnacle">

              <div class="col-lg-12">
                <div class="col-lg-12">
                  <button class="BackEvi" (click)="goBack()">Regresar</button>
                </div>
              </div>
              <div class="col-lg-9">
                <div *ngFor="let bita of binnacles" class="box-evi">
                  <div *ngIf="bita.type != 'duration'" class="col-lg-4">
                    <div class="image-box">
                      <a (click)="open(bita)" class="campaignpicture"><img onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';" [src]="base + bita.picture" alt=""></a>
                      <div class="evidence-text">
                        <div class="info-evidence">
                          <p style="width:68px">{{bita.message}}</p>
                          <p>{{bita.date | amDateFormat: 'DD-MM-YYYY'}}</p>
                        </div>
                        <div class="info-evidence">
                          <p></p>
                          <p>{{bita.date | date: "HH:mm"}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 binnacle">
                <h4>Bitácora</h4>
                <div *ngFor="let infobita of binnacles" class="binnacle-text">
                  <p>{{infobita.date | amDateFormat: 'DD-MM-YYYY'}} {{infobita.date | date: "HH:mm"}}</p>
                  <p>{{infobita.message}}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </tab>
    </tabset>

  </div>

</div>
