<header class="header-quasar">
  <h1><a [routerLink]="['/elements']">ELEMENTOS</a> <span *ngIf="subtitle">/ {{subtitle}}</span></h1>
  <button *ngIf="permissions && permissions.element && permissions.element.create" [routerLink]="['create']" class="btn-addUser">+ Nuevo elemento</button>
</header>

<router-outlet></router-outlet>

