<div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message}}</strong>
</div>
<form class="create-form" (ngSubmit)="onSubmit(elements)">
	<div class="body-container">
	    <div class="row input-form">
	      <label class="col-md-2">Nombre:</label>
	      <div class="col-md-10">
	        <input [(ngModel)]="elements.name" type="text" name="name" id="name">
	      </div>
	    </div>

	    <div class="row input-form">
	      <label class="col-md-2">Clase:</label>
	      <div class="col-md-10">
	        <select [(ngModel)]="elements.class" name="class">
	          <option value="">Seleccione...</option>
	          <option *ngFor="let class of classes" value="{{class}}">{{class}}</option>
	        </select>
	      </div>
	    </div>
	    <div *ngIf="showbar">
	      <button type="button" (click)="savePer()" class="btn-addUser create-btn">Agregar Tipo</button>
	    </div>

	    <modal modalClass="modal-dialog modal-sm" #lgModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
		    <modal-header>
		    	<h4 class="modal-title pull-left">Agregar Tipo</h4>
		    </modal-header>
		    <modal-content>
		      	<div class="row input-form">
			        <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
					  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>{{message2}}</strong>
					</div>
				    <label class="col-md-2">Nombre del Tipo:</label>
				    <div class="col-md-10">
				        <input [(ngModel)]="type.name" type="text" name="secondname" id="name">
				    </div>
			    </div>

			    <div class="row input-form">
			      <label class="col-md-2">Necesita Confirmación:</label>
			      <div class="col-md-10">
			        <input [(ngModel)]="type.needConfirmation" type="checkbox" name="confirmation" id="name">
			      </div>
			    </div>

			    <div class="row input-form">
			      <label class="col-md-2">Necesita Medidas:</label>
			      <div class="col-md-10">
			        <input [(ngModel)]="type.needMeasurement" type="checkbox" name="boolean" id="name">
			      </div>
			    </div>

			    <div class="row input-form">
			      <label class="col-md-2">Medidas:</label>
			      <div class="col-md-10">
			        <rl-tag-input [(ngModel)]="type.measurements" type="text" name="measurements" id="name"></rl-tag-input>
			      </div>
			    </div>
			    <div>
			      <button type="button" (click)="sendType()" class="btn-addUser create-btn">Agregar</button>
			      <button type="button" (click)="hideModal2()" class="btn-danger create-btn">Cancelar</button>
			    </div>
		    </modal-content>
		</modal>
		
		<div *ngIf="showbar">
			<h4>Tipos:</h4>
		    <table class="table permissions">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Confirmación</th>
						<th>Necesita Medidas</th>
						<th>Medidas</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let type of elements.types; let i="index"'>
						<td>{{type.name}}</td>
						<td>
							<p *ngIf="type.needConfirmation">Sí</p>
							<p *ngIf="!type.needConfirmation">No</p>
						</td>
						<td>
							<p *ngIf="type.needMeasurement">Sí</p>
							<p *ngIf="!type.needMeasurement">No</p>
						</td>
						<td>
							<p>{{type.measurements}}</p>
						</td>
						<td>
					        <div class="actions">
					          <a (click)="editType(type, i)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
					          <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(type, i)"></a>
					        </div>
				      	</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button *ngIf="isEdited" type="submit" class="btn-addUser">Guardar</button>

	</div>
</form>