<header class="header-quasar">
  <h1><a [routerLink]="['/btl']">CAMPAÑAS BTL</a><span *ngIf="subtitle"> / {{subtitle}}</span></h1>
  <button *ngIf="subtitle == ''" [routerLink]="['create']" class="btn-addUser">+ Nueva campaña</button>
</header>

<router-outlet></router-outlet>
