<div class="general">
  <div class="row">
    <div class="col-lg-12"  *ngIf="organizations.length > 0">
      <label>Organización</label>
      <select [(ngModel)]="organization" (change)="onSelect()">
        <option value="">Seleccione...</option>
        <option value="all">Todas</option>
        <option [value]="item._id" *ngFor="let item of organizations | orderBy: 'name'" >{{item.name}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="organization != ''">
    <h2> Cadenas / Instalaciones</h2>
    <div class="resume row">
      <div class="col-lg-4">
        <table class="table table-quasar">
          <thead>
          <tr>
            <th>Cadena</th>
            <th>Instalaciones</th>
            <th>Porcentaje</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chain of cadenas">
              <td>{{chain.name}}</td>
              <td>{{chain.count}}</td>
              <td>{{chain.percent}}%</td>
            </tr>         
          </tbody>
        </table>
      </div>
      <div class="col-lg-8">
        <!-- [gradient]="gradient"-->
        <ngx-charts-pie-chart
          [view]="resumepie.view"
          [results]="resumepie.data"
          [legend]="resumepie.showLegend"
          [explodeSlices]="resumepie.explodeSlices"
          [labels]="resumepie.showLabels"
          [doughnut]="resumepie.doughnut"
          [legendTitle]="resumepie.legendTitle">
        </ngx-charts-pie-chart>

      </div>
      <div class="col-lg-12">
        <div class=" search-bar">
          <form (submit)="onSearch()">
            <label>Cadena</label>
            <select [(ngModel)]="search.chain" [ngModelOptions]="{standalone: true}">
              <option value="">Todas</option>
              <option [value]="chain._id" *ngFor="let chain of chains">{{chain.name}}</option>
            </select>
            <label>Periodo</label>
            <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.from" [config]="datePickerConfig"></dp-date-picker>
            <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.to" [config]="datePickerConfig"></dp-date-picker>
            <label>Categoría</label>
            <select [(ngModel)]="search.category" [ngModelOptions]="{standalone: true}">
              <option value="">Todas</option>
              <option [value]="category" *ngFor="let category of categories">{{category}}</option>
            </select>
            <button type="submit" class="normal-btn-search">Mostrar</button>
          </form>
        </div>
      </div>

      <div *ngIf="showResults" class="col-lg-12">
        <!-- Reporte cadenas -->
        <div class="row">

          <div class="col-lg-4">
            <h2>Por Cadena</h2>
            <table class="table table-quasar">
              <thead>
              <tr>
                <th>Cadena</th>
                <th>Instalaciones</th>
                <th>Porcentaje</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let chain of report.chains">
                <td>{{chain._id}}</td>
                <td>{{chain.count || 0}}</td>
                <td>{{chain.percent}}%</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-8">
            <!-- [gradient]="gradient"-->
            <ngx-charts-pie-chart
              [view]="chainsPie.view"
              [results]="chainsPie.data"
              [legend]="chainsPie.showLegend"
              [explodeSlices]="chainsPie.explodeSlices"
              [labels]="chainsPie.showLabels"
              [doughnut]="chainsPie.doughnut"
              [legendTitle]="chainsPie.legendTitle">
            </ngx-charts-pie-chart>

          </div>
        </div>

        <div class="row">
          <!-- Reporte tiendas -->

          <div class="col-lg-4">
            <h2>Por Tienda</h2>
            <table class="table table-quasar">
              <thead>
              <tr>
                <th>Tienda</th>
                <th>Instalaciones</th>
                <th>Porcentaje</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let store of report.stores">
                <td>{{store._id}}</td>
                <td>{{store.count || 0}}</td>
                <td>{{store.percent}}%</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-8">
            <!-- [gradient]="gradient"-->
            <ngx-charts-pie-chart
              [view]="storesPie.view"
              [results]="storesPie.data"
              [legend]="storesPie.showLegend"
              [explodeSlices]="storesPie.explodeSlices"
              [labels]="storesPie.showLabels"
              [doughnut]="storesPie.doughnut"
              [legendTitle]="storesPie.legendTitle">
            </ngx-charts-pie-chart>

          </div>
        </div>

        <div class="row">
          <!-- Reporte cliente -->

          <div class="col-lg-4">
            <h2>Por Cliente</h2>
            <table class="table table-quasar">
              <thead>
              <tr>
                <th>Cliente</th>
                <th>Instalaciones</th>
                <th>Porcentaje</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of report.clients">
                <td>{{client._id}}</td>
                <td>{{client.count || 0}}</td>
                <td>{{client.percent}}%</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-8">
            <!-- [gradient]="gradient"-->
            <ngx-charts-pie-chart
              [view]="clientsPie.view"
              [results]="clientsPie.data"
              [legend]="clientsPie.showLegend"
              [explodeSlices]="clientsPie.explodeSlices"
              [labels]="clientsPie.showLabels"
              [doughnut]="clientsPie.doughnut"
              [legendTitle]="clientsPie.legendTitle">
            </ngx-charts-pie-chart>

          </div>
        </div>

        <div class="row" *ngFor="let pie of elementsPie; let i=index">
          <!-- Reporte cliente -->

          <div class="col-lg-4">
            <h2>{{report.elements[i]._id}}</h2>
            <table class="table table-quasar">
              <thead>
              <tr>
                <th>Elemento</th>
                <th>Instalaciones</th>
                <th>Porcentaje</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let element of report.elements[i].elements">
                <td>{{element._id}}</td>
                <td>{{element.count || 0}}</td>
                <td>{{element.percent}}%</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-8">
            <!-- [gradient]="gradient"-->
            <ngx-charts-pie-chart
              [view]="pie.view"
              [results]="pie.data"
              [legend]="pie.showLegend"
              [explodeSlices]="pie.explodeSlices"
              [labels]="pie.showLabels"
              [doughnut]="pie.doughnut"
              [legendTitle]="pie.legendTitle">
            </ngx-charts-pie-chart>

          </div>
        </div>
      </div>
      <h5 *ngIf="showNoResult">La categoría no tiene ninguna campaña.</h5>
    </div>
  </div>
</div>
