<div class="cluster">
	<header class="header-quasar">
		<h1><a [routerLink]="['/cluster']">CLUSTER</a></h1>
	</header>
	<div class="row">
		<div class="col-lg-12">
			<div class=" search-bar">
		        <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
		          <strong>{{message}}</strong>
		        </div>

		        <form (submit)="onSearch(search)">
		          <label>Periocidad</label>
		          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.from" [config]="datePickerConfig"></dp-date-picker>
		          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.to" [config]="datePickerConfig"></dp-date-picker>
		          <button type="submit" class="normal-btn-search">Mostrar</button>
		        </form>
		    </div>
		</div>
	</div>
	<div *ngIf="showTable" class="row">    
		<div class="col-lg-4">

      <div>
        <label>Mostrar por</label>
        <select [(ngModel)]="filter" (change)="showBy(filter)">
          <option value="0">Porcentaje</option>
          <option value="1">Numeros</option>        
        </select>
      </div>

      <h2><b>{{cluster.class[1]._id}}</b></h2>
      <table class="table table-quasar">
        <thead>
        <tr>
          <th>Elemento</th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>V</th>
          <th>TT</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let liviano of cluster.class[1].elements">
          <td>{{liviano.name}}</td>
          <ng-container *ngIf="!showPercent">
            <td>{{liviano.A}}</td>
            <td>{{liviano.B}}</td>
            <td>{{liviano.C}}</td>
            <td>{{liviano.V}}</td>
          </ng-container>
          <ng-container *ngIf="showPercent">
            <td>{{liviano.percenta}}%</td>
            <td>{{liviano.percentb}}%</td>
            <td>{{liviano.percentc}}%</td>
            <td>{{liviano.percentv}}%</td>
          </ng-container>          
          <td>{{liviano.total}}</td>
        </tr>
        <tr class="totalInfo">
        	<td>Total</td>
          <ng-container *ngIf="!showPercent">
            <td>{{elementsTotal.aTotal}}</td>
            <td>{{elementsTotal.bTotal}}</td>
            <td>{{elementsTotal.cTotal}}</td>
            <td>{{elementsTotal.vTotal}}</td>
          </ng-container>
          <ng-container *ngIf="showPercent">
            <td>{{elementsTotal.apercent}}%</td>
            <td>{{elementsTotal.bpercent}}%</td>
            <td>{{elementsTotal.cpercent}}%</td>
            <td>{{elementsTotal.vpercent}}%</td>
          </ng-container>        	
        	<td>{{elementsTotal.totalTotal}}</td>
        </tr>
        </tbody>
      </table>
    </div>

		<div class="col-lg-8">
      <!-- [gradient]="gradient"
      <h2><b>Elementos:</b></h2>-->
      <ngx-charts-pie-chart
        [view]="liviano.view"
        [results]="liviano.data"
        [legend]="liviano.showLegend"
        [explodeSlices]="liviano.explodeSlices"
        [labels]="liviano.showLabels"
        [doughnut]="liviano.doughnut"
        [legendTitle]="liviano.title">
      </ngx-charts-pie-chart>
    </div>
	</div>

	<div *ngIf="showTable" class="row">
		<div class="col-lg-4">
      <h2><b>{{cluster.class[0]._id}}</b></h2>
      <table class="table table-quasar">
        <thead>
        <tr>
          <th>Elemento</th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>V</th>
          <th>TT</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let carga of cluster.class[0].elements">
          <td>{{carga.name}}</td>
          <ng-container *ngIf="!showPercent">
            <td>{{carga.A}}</td>
            <td>{{carga.B}}</td>
            <td>{{carga.C}}</td>
            <td>{{carga.V}}</td>
          </ng-container>
          <ng-container *ngIf="showPercent">
            <td>{{carga.percenta}}%</td>
            <td>{{carga.percentb}}%</td>
            <td>{{carga.percentc}}%</td>
            <td>{{carga.percentv}}%</td>
          </ng-container>          
          <td>{{carga.total}}</td>
        </tr>
        <tr class="totalInfo">
        	<td>Total</td>
          <ng-container *ngIf="!showPercent">
            <td>{{cargaelements.aTotal}}</td>
            <td>{{cargaelements.bTotal}}</td>
            <td>{{cargaelements.cTotal}}</td>
            <td>{{cargaelements.vTotal}}</td>
          </ng-container>
          <ng-container *ngIf="showPercent">
            <td>{{cargaelements.apercent}}%</td>
            <td>{{cargaelements.bpercent}}%</td>
            <td>{{cargaelements.cpercent}}%</td>
            <td>{{cargaelements.vpercent}}%</td>
          </ng-container>        	
        	<td>{{cargaelements.totalTotal}}</td>
        </tr>
        </tbody>
      </table>
    </div>

		<div class="col-lg-8">
      <!-- [gradient]="gradient"
      <h2><b>Elementos:</b></h2>-->
      <ngx-charts-pie-chart
        [view]="carga.view"
        [results]="carga.data"
        [legend]="carga.showLegend"
        [explodeSlices]="carga.explodeSlices"
        [labels]="carga.showLabels"
        [doughnut]="carga.doughnut"
        [legendTitle]="carga.title">
      </ngx-charts-pie-chart>
    </div>
	</div>
	<div *ngIf="showTable" class="row">
		<div class="col-lg-4">
      <h2><b>Clientes</b></h2>
      <table class="table table-quasar">
        <thead>
        <tr>
          <th>Cliente</th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>V</th>
          <th>TT</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cliente of cluster.client">
          <td>{{cliente._id}}</td>
          <ng-container *ngIf="!showPercent">
            <td>{{cliente.A}}</td>
            <td>{{cliente.B}}</td>
            <td>{{cliente.C}}</td>
            <td>{{cliente.V}}</td>
          </ng-container>
          <ng-container *ngIf="showPercent">
            <td>{{cliente.percenta}}%</td>
            <td>{{cliente.percentb}}%</td>
            <td>{{cliente.percentc}}%</td>
            <td>{{cliente.percentv}}%</td>
          </ng-container>          
          <td>{{cliente.total}}</td>
        </tr>
        <tr class="totalInfo">
        	<td>Total</td>
          <ng-container *ngIf="!showPercent">
            <td>{{clientelements.aTotal}}</td>
            <td>{{clientelements.bTotal}}</td>
            <td>{{clientelements.cTotal}}</td>
            <td>{{clientelements.vTotal}}</td>
          </ng-container>
          <ng-container *ngIf="showPercent">
            <td>{{clientelements.apercent}}%</td>
            <td>{{clientelements.bpercent}}%</td>
            <td>{{clientelements.cpercent}}%</td>
            <td>{{clientelements.vpercent}}%</td>
          </ng-container>        	
        	<td>{{clientelements.totalTotal}}</td>
        </tr>
        </tbody>
      </table>
    </div>

		<div class="col-lg-8">
      <!-- [gradient]="gradient"
      <h2><b>Elementos:</b></h2>-->
      <ngx-charts-pie-chart
        [view]="cliente.view"
        [results]="cliente.data"
        [legend]="cliente.showLegend"
        [explodeSlices]="cliente.explodeSlices"
        [labels]="cliente.showLabels"
        [doughnut]="cliente.doughnut"
        [legendTitle]="cliente.title">
      </ngx-charts-pie-chart>
    </div>
	</div>
</div>

