<form class="create-form" [formGroup]="chainForm" (ngSubmit)="onSubmit(chainForm.value, chainForm.valid)">
  <div class="body-container">
    <div class="row input-form">
      <label class="col-md-2">Nombre:</label>
      <div class="col-md-10">
        <input formControlName="name" type="text" name="name" id="name">
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Abreviación:</label>
      <div class="col-md-10">
        <input formControlName="shortName" type="text" id="lastname" name="shortName">
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Organización:</label>
      <div class="col-md-10">
        <select formControlName="orga">
          <option value="">Seleccione...</option>
          <option *ngFor="let organization of orga" value="{{organization._id}}">{{organization.name}}</option>
        </select>
      </div>
    </div>

    <div>
      <button type="submit" class="btn-addUser create-btn">Grabar</button>
    </div>
    <div *ngIf="!creating && strforOrga.length != 0">
      <div class="header-list">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-list-left">
          <h4>Tiendas:</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-list-left">
          <a class="btn-addUser create-btn" [routerLink]="['/stores/create']">Agregar tienda</a>
        </div>
      </div>
      <table class="table table-dates">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Abreviación</th>
            <th>Region</th>
            <th>Sector</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chain of strforOrga">
            <td>{{chain.name}}</td>
            <td>{{chain.shortName}}</td>
            <td>{{chain.region}}</td>
            <td>{{chain.sector}}</td>
            <td>
              <div class="actions">
                <a [routerLink]="['/stores/', chain._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right:1.5rem"></a>
                <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(chain)"></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>