<header class="header-quasar">
	<h1><a [routerLink]="['/clientes']">CLIENTE</a><span *ngIf="subtitle"> / {{subtitle}}</span></h1>
	<button *ngIf="permissions && permissions.client && permissions.client.create" [routerLink]="['create']" class="btn-addUser">+ Nuevo Cliente</button>
</header>

<router-outlet></router-outlet>
