<header class="header-quasar">
  <h1><a [routerLink]="['/confirmation']">CONFIRMACIÓN DE ESPACIOS</a></h1>
</header>

<div class="search-bar flex">
  <div class="search">
  	<label>Nombre:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.name">
  </div>
  <div class="search">
  	<label>Tienda:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.store.name">
  </div>
  <div class="search">
  	<label>Elemento:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.elementType">
  </div>
  <div>
  	<label>Estado:</label>
  	<select [(ngModel)]="userFilter.confirmed.ok">
  		<option [ngValue]="null">Seleccione...</option>
  		<option [ngValue]="false">Pendiente</option>
  		<option [ngValue]="true">Finalizado</option>
  	</select>
  </div>
</div>

<div class="row" id="contentScroll">
	<div class="col-md-12">
		<table class="table table-quasar" id="tablescroll">
		    <thead>
			    <tr>
			      <th>Nombre</th>
			      <th>Estado</th>
			      <th>Tienda</th>
			      <th>Elemento</th>
			      <th>Fecha Registro</th>
			      <th>Referencia</th>
			      <th>Imagen</th>
			      <th>Observación</th>
			    </tr>
		    </thead>
		    <tbody>
		    <tr *ngFor="let con of confirmations | filterBy: userFilter">
		      <td>{{con.name}}</td>
		      <td>
		      	<p *ngIf="con.confirmed.ok">Finalizado</p>
		      	<p *ngIf="!con.confirmed.ok">Pendiente</p>
		      </td>
		      <td>{{con.store.name}}</td>
		      <td>{{con.elementType}}</td>
		      <td>{{con.confirmed.date | date}}</td>
		      <td>{{con.confirmed.reference}}</td>
		      <td><a target="_blank" href="{{ con.confirmed.picture?URL + con.confirmed.picture:'https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg'}}" class="fa fa-picture-o" aria-hidden="true"></a></td>
		      <td>{{con.confirmed?.comment}}</td>
		    </tr>
		    </tbody>
		</table>
		<div id="bottom_anchor"></div>
	</div>
</div>