<table class="table permissions">
	<thead>
		<tr>
			<th *ngFor='let title of cabeceras'>{{title}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor='let row of tabla'>
			<td>{{row.module.name}}</td>
			<td *ngFor='let permission of row.permissions'>
				<input type="checkbox" name="" [(ngModel)]="permission.model" (ngModelChange)="onChangeModel(row, permission)">
			</td>
		</tr>
	</tbody>
</table>
<button type="button" (click)="savePer()" class="btn-addUser">Guardar</button>