<header class="header-quasar">
  <h1><a [routerLink]="['/routes']">RUTAS</a> <span *ngIf="subtitle">/ {{subtitle}}</span></h1>
  <button *ngIf="permissions && permissions.route && permissions.route.create" [routerLink]="['create']" class="btn-addUser">+ Nueva Ruta</button>
</header>

<router-outlet></router-outlet>