<header class="header-quasar">
  <h1><a [routerLink]="['/maintenance']">Mantenimiento</a></h1>
  <button (click)="exportReport()" class="btn-addUser">Reporte</button>
</header>

<div class="searchUser2">
  <div class="search">
  	<label>Campaña:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.name">
  </div>
  <div class="search">
  	<label>Tienda:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.store">
  </div>
  <div class="search">
  	<label>Elemento:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.elementType">
  </div>
  <!--<div>
  	<label>Estado:</label>
  	<select [(ngModel)]="userFilter.confirmed.ok">
  		<option [ngValue]="null">Seleccione...</option>
  		<option [ngValue]="false">Pendiente</option>
  		<option [ngValue]="true">Finalizado</option>
  	</select>
  </div>-->
</div>

<div class="row" id="contentScroll">
	<div class="col-md-12">
		<table class="table table-quasar" id="tablescroll">
		    <thead>
			    <tr>
			      <th>Campaña</th>
			      <th>Elemento</th>
			      <th>Tienda</th>
			      <th>Tipo de Elemento</th>
			      <th>Comentario</th>
			      <th>Antes</th>
			      <th>Después</th>
			      <th>Fecha</th>
			    </tr>
		    </thead>
		    <tbody>
		    <tr *ngFor="let main of maintenance | filterBy: userFilter">
		      <td>{{main.name}}</td>
		      <td>{{main.element}}</td>
		      <td>{{main.store}}</td>
		      <td>{{main.elementType}}</td>
		      <td>{{main.maintenance.comment?main.maintenance.comment:'-'}}</td>		      
			  <td><a target="_blank" href="{{ URL + main.maintenance.pictureBefore}}" class="fa fa-picture-o" aria-hidden="true"></a></td>
		      <td><a target="_blank" href="{{ URL + main.maintenance.pictureAfter}}" class="fa fa-picture-o" aria-hidden="true"></a></td>
		      <td>{{main.maintenance.date | date: 'dd/MM/yy - HH:mm'}}</td>
		    </tr>
		    </tbody>
		</table>
		<div id="bottom_anchor"></div>
	</div>
</div>