<div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message}}</strong>
</div>
<form class="create-form" [formGroup]="organizationForm" (ngSubmit)="onSubmit(organizationForm.value, organizationForm.valid)">
  <div class="body-container">
    <div class="row input-form">
      <label class="col-md-2">Nombre:</label>
      <div class="col-md-10">
        <input formControlName="name" type="text" name="name" id="name">
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Abreviación:</label>

      <div class="col-md-10">
        <input formControlName="shortName" type="text" id="lastname" name="shortName">
      </div>

    </div>

    <div>
      <button type="submit" class="btn-addUser create-btn">Grabar</button>
    </div>
    <div *ngIf="!creating && organization['chains'].length != 0">
      <div class="header-list">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-list-left">
          <h4>Cadenas:</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-list-left">
          <a class="btn-addUser create-btn" [routerLink]="['/chains/create']">Agregar Cadena</a>
        </div>
      </div>
      <table class="table table-dates">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Abreviación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chain of organization['chains']">
            <td>{{chain.name}}</td>
            <td>{{chain.shortName}}</td>
            <td>
              <div class="actions">
                <a [routerLink]="['/chains/', chain._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right:1.5rem"></a>
                <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(chain)"></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>