<div class="searchUser">
  <label>Buscar</label>
  <input type="text" name="search" [(ngModel)]="userFilter.name">
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pro of promo | filterBy: userFilter">
      <td>{{pro.name}}</td>
      <td><a target="_blank" href="{{ URL + pro.image}}" class="fa fa-picture-o" aria-hidden="true"></a></td>
      <td>{{pro.start | date: 'dd/MM/yy' }}</td>
      <td>{{pro.end | date: 'dd/MM/yy' }}</td>
      <td>{{pro.role}}</td>
      <td>
        <div class="actions">
          <a [routerLink]="['/promotions/', pro._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(pro)"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
  <div>
    <h4>{{message}}</h4>
  </div>
</div>