<div class="searchUser">
  <label>Buscar</label>
  <input type="text" name="search" [(ngModel)]="userFilter.name">
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Abreviación</th>
      <th>Creación</th>
      <th>Creado por</th>
      <th *ngIf="permissions && permissions.organization && (permissions.organization.update || permissions.organization.delete)">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let org of organizations | filterBy: userFilter; let i = 'index'">
      <td>{{i+1}}</td>
      <td>{{org.name}}</td>
      <td>{{org.shortName}}</td>
      <td>{{org.created | date: 'dd/MM/yyyy'}}</td>
      <td>{{org.creator.firstname}} {{org.creator.lastname}}</td>
      <td *ngIf="permissions && permissions.organization && (permissions.organization.update || permissions.organization.delete)">
        <div class="actions">
          <a *ngIf="permissions && permissions.organization && permissions.organization.update" [routerLink]="['/organizations/', org._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a *ngIf="permissions && permissions.organization && permissions.organization.delete" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(org)"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
</div>
