<div class="searchUser2">
  <div class="search">
    <label>Nombre: </label>
    <input type="text" name="search" [(ngModel)]="userFilter.name">
  </div>
  <div class="search">
    <label>Clase: </label>
    <input type="text" name="search" [(ngModel)]="userFilter.class">
  </div> 
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nro</th>
      <th>NOMBRE</th>
      <th>CLASE</th>
      <th>CREACIÓN</th>
      <th *ngIf="permissions && permissions.element && (permissions.element.delete || permissions.element.update)">ACCIONES</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of elements | filterBy: userFilter; let i = 'index'" [ngClass]="{'hidden-campaign':!element.enabled }">
      <td>{{i+1}}</td>
      <td>{{element.name}}</td>
      <td>{{element.class}}</td>
      <td>{{element.created | date: 'dd/MM/yyyy'}}</td>
      <td *ngIf="permissions && permissions.element && (permissions.element.delete || permissions.element.update)">
        <div class="actions">
          <a *ngIf="permissions && permissions.element && permissions.element.update" [routerLink]="['/elements/', element._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a *ngIf="element.enabled && permissions && permissions.element && permissions.element.delete" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(element)"></a>
          <a  *ngIf="!element.enabled && permissions && permissions.element && permissions.element.delete" (click)="hide(element)" class="glyphicon glyphicon-share-alt" aria-hidden="true"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
  <div>
    <h4>{{message}}</h4>
  </div>
</div>
