<div *ngIf="message2" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message2}}</strong>
</div>
<form class="create-form" (ngSubmit)="onSubmit()">
	<div class="body-container">
	    <div class="row input-form">
	      <label class="col-md-2">Código:</label>
	      <div class="col-md-10">
	        <input [(ngModel)]="route.code" type="number" name="code" id="name">
	      </div>
	    </div>
	    <div>
	      <button *ngIf="showSaveRoute" type="button" (click)="saveRoute()" class="btn-addUser create-btn">Guardar</button>
	      <button *ngIf="showTableDays" type="button" (click)="showStores()" class="btn-addUser create-btn">Agregar Tienda</button>
	      <button *ngIf="showTableDays" type="button" (click)="showImple()" class="btn-addUser create-btn">Agregar Operador</button>
	    </div>

  			<modal modalClass="modal-dialog modal-lg" #lgModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
			    <modal-header>
			    	<h4 class="modal-title pull-left">Agregar Tienda</h4>
			    </modal-header>
			    <modal-content>
			    	<div class="row input-form">
				        <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
						  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong>{{message2}}</strong>
						</div>

					    <label class="col-md-2">Organización:</label>
					    <div class="col-md-10">
					        <select [(ngModel)]="organization" (ngModelChange)="changeOrganization($event)" name="stores">
					          <option value="">Seleccione...</option>
					          <option *ngFor="let orga of allOrganizations" value="{{orga._id}}">{{orga.name}}</option>
					        </select>
					    </div>
				    </div>

				    <div class="row input-form">
					    <label class="col-md-2">Tienda:</label>
					    <div class="col-md-10">
					        <select [(ngModel)]="stores.store" (ngModelChange)="changeDays($event)" name="stores">
					          <option value="">Seleccione...</option>
					          <option *ngFor="let astore of allStores" value="{{astore._id}}">{{astore.name}}</option>
					        </select>
					    </div>
				    </div>

				    <div *ngIf="showDays">
				    	<h4>Fechas:</h4>
					    <table class="table table-dates">
							<thead>
								<tr>
									<th>Lunes</th>
									<th>Martes</th>
									<th>Miércoles</th>
									<th>Jueves</th>
									<th>Viernes</th>
									<th>Sábado</th>
									<th>Domingo</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input [(ngModel)]="stores.days.monday" type="checkbox" name="monday"></td>
									<td><input [(ngModel)]="stores.days.tuesday" type="checkbox" name="tuesday"></td>
									<td><input [(ngModel)]="stores.days.wednesday" type="checkbox" name="wednesday"></td>
									<td><input [(ngModel)]="stores.days.thursday" type="checkbox" name="thursday"></td>
									<td><input [(ngModel)]="stores.days.friday" type="checkbox" name="friday"></td>
									<td><input [(ngModel)]="stores.days.saturday" type="checkbox" name="saturday"></td>
									<td><input [(ngModel)]="stores.days.sunday" type="checkbox" name="sunday"></td>
								</tr>
							</tbody>
						</table>
				    </div>

				    <div>
				      <button type="button" (click)="sendStore()" class="btn-addUser create-btn">Agregar</button>
				      <button type="button" (click)="hideModal()" class="btn-danger create-btn">Cancelar</button>
				    </div>
			    </modal-content>
			</modal>

	  		<modal modalClass="modal-dialog modal-lg" #lgModal2 [closeOnEscape]="false" [closeOnOutsideClick]="true">
			    <modal-header>
			    	<h4 class="modal-title pull-left">Agregar Operador</h4>
			    </modal-header>
			    <modal-content>
			    	<div class="row input-form">
				        <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
						  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong>{{message2}}</strong>
						</div>
					    <label class="col-md-2">Operador:</label>
					    <div class="col-md-10">
					        <select [(ngModel)]="imple._id"  name="imple">
					          <option value="">Seleccione...</option>
					          <option *ngFor="let imple of userimple" value="{{imple.firstname + ',' + imple._id}}">{{imple.firstname}}</option>
					        </select>
					     </div>
				    </div>
				    <div>
				      <button type="button" (click)="sendImpleId()" class="btn-addUser create-btn">Agregar</button>
				      <button type="button" (click)="hideModal2()" class="btn-danger create-btn">Cancelar</button>
				    </div>
			    </modal-content>
			</modal>
			

		<div *ngIf="showTableDays && route.stores.length != 0">
			<div>
		    	<h4>Dias:</h4>
			    <table class="table table-dates">
					<thead>
						<tr>
							<th>Tienda</th>
							<th>Lunes</th>
							<th>Martes</th>
							<th>Miércoles</th>
							<th>Jueves</th>
							<th>Viernes</th>
							<th>Sábado</th>
							<th>Domingo</th>
							<th>Editar</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='let tienda of route.stores; let i="index"'>
							<td>{{tienda.name}}</td>
							<td *ngIf="tienda.days.monday">Sí</td>
							<td *ngIf="!tienda.days.monday">No</td>
							<td *ngIf="tienda.days.tuesday">Sí</td>
							<td *ngIf="!tienda.days.tuesday">No</td>
							<td *ngIf="tienda.days.wednesday">Sí</td>
							<td *ngIf="!tienda.days.wednesday">No</td>
							<td *ngIf="tienda.days.thursday">Sí</td>
							<td *ngIf="!tienda.days.thursday">No</td>
							<td *ngIf="tienda.days.friday">Sí</td>
							<td *ngIf="!tienda.days.friday">No</td>
							<td *ngIf="tienda.days.saturday">Sí</td>
							<td *ngIf="!tienda.days.saturday">No</td>
							<td *ngIf="tienda.days.sunday">Sí</td>
							<td *ngIf="!tienda.days.sunday">No</td>
							<td>
				            <div class="actions">
				              <a (click)="onEdit(tienda, i)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
				              <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(tienda, i)"></a>
				            </div>
				          </td>
						</tr>
					</tbody>
				</table>
		    </div>
		    <div *ngIf="tableimple && route.implementer.length != 0">
				<h4>Operadores:</h4>
				<table class="table table-dates">
					<thead>
						<tr>
							<th>Operador</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='let imple of route.implementer; let i="index"'>
							<td>{{imple.name}}</td>
							<td>
					            <div class="actions">
					              <!--<a (click)="editOpe(imple, i)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>-->
					              <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="deleteOpe(imple, i)"></a>
					            </div>
				          </td>
						</tr>
					</tbody>
				</table>
			</div>
		    <div>
		      <button type="submit" class="btn-addUser create-btn">Guardar</button>
		      <a class="btn-addUser create-btn link_button" [routerLink]="['/routes']">Cancelar</a>
		    </div>
		</div>
	</div>
</form>

	    
