<div class="btl">

  <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
    <strong>{{message}}</strong>
  </div>

  <tabset>
    <tab heading="Datos">
      <form (submit)="onSubmit()">
        <div class="row input-form">
          <label class="col-md-2">Nombre:</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="campaign.name" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Cliente:</label>
          <div class="col-md-10">
            <select [(ngModel)]="campaign.client" [ngModelOptions]="{standalone: true}" >
              <option value="">Seleccione ... </option>
              <option [value]="client._id" *ngFor="let client of clients">{{client.name}}</option>
            </select>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Marca:</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="campaign.brand" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Mensaje a comunicar:</label>
          <div class="col-md-10">
            <input class="wide" type="text" [(ngModel)]="campaign.message" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Detalle:</label>
          <div class="col-md-10">
            <textarea name="" id="" cols="100" rows="10" [(ngModel)]="campaign.detail" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Título de lugar 1:</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="campaign.label1" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Título de lugar 2:</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="campaign.label2" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Título de lugar 3:</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="campaign.label3" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Título reporte contactos:</label>
          <div class="col-md-10">
            <input class="wide" type="text" [(ngModel)]="campaign.titleContacts" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Título reporte ventas:</label>
          <div class="col-md-10">
            <input class="wide" type="text" [(ngModel)]="campaign.titleSales" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Objetivos:</label>
          <div class="col-md-10">
            <input class="wide" type="text" [(ngModel)]="newObjetive" [ngModelOptions]="{standalone: true}"/>
            <button type="button" class="btn btn-add" (click)="onAddObjetive(newObjetive)">+ Agregar</button>
          </div>
        </div>

        <div class="table-form">
          <table *ngIf="campaign.objetives.length > 0" class="table table-quasar">
            <thead>
            <tr>
              <th>Objetivos</th>
              <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let objetive of campaign.objetives; let i=index">
              <td>{{objetive}}</td>
              <td>
                <div class="actions">
                  <a (click)="removeObjetive(i)"><fa name="times"></fa></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Fechas:</label>
          <div class="col-md-10">
            <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="dates" [config]="datePickerConfig"></dp-date-picker>
          </div>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Lugares:</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="newPlace1" [ngModelOptions]="{standalone: true}"/>
            <input type="text" [(ngModel)]="newPlace2" [ngModelOptions]="{standalone: true}"/>
            <input type="text" [(ngModel)]="newPlace3" [ngModelOptions]="{standalone: true}"/>
            <button type="button" class="btn btn-add" (click)="onAddPlace(newPlace1, newPlace2, newPlace3)">+ Agregar</button>
          </div>
        </div>

        <div class="table-form">
          <table *ngIf="campaign.places.length > 0" class="table table-quasar">
            <thead>
            <tr>
              <th>{{ campaign.label1 || 'Etiqueta 1'}}</th>
              <th>{{ campaign.label2 || 'Etiqueta 2'}}</th>
              <th>{{ campaign.label3 || 'Etiqueta 3'}}</th>
              <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let place of campaign.places; let i=index">
              <td>{{place.label1}}</td>
              <td>{{place.label2}}</td>
              <td>{{place.label3}}</td>
              <td>
                <div class="actions">
                  <a (click)="removePlace(i)"><fa name="times"></fa></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row input-form">
          <label class="col-md-2">Productos:</label>
          <div class="col-md-10">
            <input class="wide" type="text" [(ngModel)]="newProduct" [ngModelOptions]="{standalone: true}"/>
            <button type="button" class="btn btn-add" (click)="onAddProduct(newProduct)">+ Agregar</button>
          </div>
        </div>

        <div class="table-form">
          <table *ngIf="campaign.products.length > 0" class="table table-quasar">
            <thead>
            <tr>
              <th>Producto</th>
              <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of campaign.products; let i=index">
              <td>{{product}}</td>
              <td>
                <div class="actions">
                  <a (click)="removeProduct(i)"><fa name="times"></fa></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>



        <button type="submit" class="btn-addUser create-btn">Guardar</button>
      </form>
    </tab>
    <tab heading="Activaciones" *ngIf="idBtl" (select)="showActivations()">
      <table class="table table-quasar">
        <thead>
          <tr>
            <th colspan="3"></th>
            <th [attr.colspan]="activations.length">Fechas</th>
          </tr>
        <tr>
          <th>{{this.campaign.label1 || 'Etiqueta 1'}}</th>
          <th>{{this.campaign.label2 || 'Etiqueta 2'}}</th>
          <th>{{this.campaign.label3 || 'Etiqueta 3'}}</th>
          <th *ngFor="let activation of activations">{{ activation.date}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let place of activationsByPlace">
            <td>{{ place.place.label1 }}</td>
            <td>{{ place.place.label2 }}</td>
            <td>{{ place.place.label3 }}</td>
            <td *ngFor="let activation of activations">
              <input type="checkbox" [(ngModel)]="place[activation.date]">
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn-addUser create-btn" (click)="saveActivations()">Guardar</button>
    </tab>
    <tab heading="Contactos" *ngIf="idBtl" (select)="showContacts()">

      <div class="row">
        <div class="col-lg-12">
          <label>Fecha:</label>
          <select [(ngModel)]="contactsDate" (change)="onSelectContactDate(contactsDate)">
            <option value=""> Seleccionar ...</option>
            <option [value]="contact.date" *ngFor="let contact of campaign.contacts">{{contact.date | date: 'dd/MM/yy'}}</option>
          </select>
        </div>
      </div>

      <table class="table table-quasar" *ngIf="indexContact >= 0">
        <thead>
          <tr>
            <th colspan="7">{{ campaign.titleContacts || '' }} {{ contactsDate | date: 'dd/MM/yy'}}</th>
          </tr>
          <tr>
            <th>{{this.campaign.label1 || 'Etiqueta 1'}}</th>
            <th>{{this.campaign.label2 || 'Etiqueta 2'}}</th>
            <th>{{this.campaign.label3 || 'Etiqueta 3'}}</th>
            <th>Contactos simples</th>
            <th>Contactos por compra directa</th>
            <th>Contactos por compra + degustación</th>
            <th>Contactos por comunicación de marca</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of campaign.contacts[indexContact].report">
            <td>{{contact.place.label1}}</td>
            <td>{{contact.place.label2}}</td>
            <td>{{contact.place.label3}}</td>
            <td><input type="text" [(ngModel)]="contact.simple"></td>
            <td><input type="text" [(ngModel)]="contact.directPurchase"></td>
            <td><input type="text" [(ngModel)]="contact.tasting"></td>
            <td><input type="text" [(ngModel)]="contact.comunication"></td>
          </tr>
        </tbody>
      </table>
      <button class="btn-addUser create-btn" (click)="saveContacts()">Guardar</button>
    </tab>
    <tab heading="Ventas" *ngIf="idBtl" (select)="showSales()">
      <div class="row">
        <div class="col-lg-12">
          <label>Fecha:</label>
          <select [(ngModel)]="salesDate" (change)="onSelectSaleDate(salesDate)">
            <option value=""> Seleccionar ...</option>
            <option [value]="contact.date" *ngFor="let contact of campaign.contacts">{{contact.date | date: 'dd/MM/yy'}}</option>
          </select>
        </div>
      </div>
    </tab>

  </tabset>



</div>
