<div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message}}</strong>
</div>

<form class="create-form" (ngSubmit)="onSubmit(promo)">
  <div class="col-md-9">
    <div class="row input-form">
      <label class="col-md-2">Nombre:</label>
      <div class="col-md-10">
        <input [(ngModel)]="promo.name" type="text" name="name" id="name">
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Imagen:</label>
      <div class="col-md-10">
        <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Tipo</label>
      <div class="col-md-10">
        <select (change)="showType(type)" [ngModelOptions]="{standalone: true}" [(ngModel)]="type">
          <option value="">Seleccione...</option>
          <option value="Cliente">Cliente</option>
          <option value="Gerente">Gerente</option>
        </select>
      </div>
    </div>

    <div *ngIf="type == 'Cliente'" class="row input-form">
      <label class="col-md-2">{{nameType}}</label>
      <div class="col-md-10">
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="clientid">
          <option value="">Seleccione...</option>
          <option *ngFor="let client of clients" value="{{client._id}}">{{client.name}}</option>
        </select>
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Fecha Inicio:</label>
      <div class="col-md-10">
        <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="promo.start" [config]="datePickerConfig"></dp-date-picker>
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Fecha Fin:</label>
      <div class="col-md-10">
        <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="promo.end" [config]="datePickerConfig"></dp-date-picker>
      </div>
    </div>

    <div>
      <button type="submit" class="btn-addUser create-btn">Grabar</button>
    </div>
  </div>
</form>

<div class="col-md-3">
  <img class="img-campaing" onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';" src="{{url_base + promo.image}}">
</div>
