<div class="searchUser2">
  <div class="search">
    <label>Código</label>
    <input type="text" name="search" [(ngModel)]="routeFilter.code">
  </div>
  <div class="search">
    <label>Operador</label>
    <input type="text" name="search" [(ngModel)]="userFilter.name" (ngModelChange)="changeName($event)">
  </div>
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nro</th>
      <th>CODIGO</th>
      <th>CREACIÓN</th>
      <th>OPERADOR</th>
      <th *ngIf="permissions && permissions.route && (permissions.route.update || permissions.route.delete)">ACCIONES</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let route of routes | filterBy: routeFilter; let i = 'index'">
      <td>{{i+1}}</td>
      <td>{{route.code}}</td>
      <td>{{route.created | date: 'dd/MM/yyyy'}}</td>
      <td>
        <div style="color: red" *ngIf="route.implementer.length == 0">NO TIENE OPERADOR</div>
        <div *ngFor="let implementer of route.implementer">{{implementer.firstname}} {{implementer.lastname}}</div>
      </td>      
      <td *ngIf="permissions && permissions.route && (permissions.route.update || permissions.route.delete)">
        <div class="actions">
          <a *ngIf="permissions && permissions.route && permissions.route.update" [routerLink]="['/routes/', route._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a *ngIf="permissions && permissions.route && permissions.route.delete" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(route)"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
</div>
