<div class="contacts">
	<div class="row">
		<div class="searchUser col-lg-12">
	      <label>Buscar</label>
	      <input type="text" name="search" [(ngModel)]="contactFilter.name">
      </div>
	</div>
	<div class="col-lg-3">
      <table class="table table-quasar">
        <thead>
         <tr>
         	<th>Nro</th>
            <th>Nombre</th>
            <th>Acción</th>
         </tr>
        </thead>
        <tbody>
         <tr *ngFor="let store of allStores | filterBy: contactFilter | orderBy: 'name'; let i = 'index'">
         	<td>{{i+1}}</td>
            <td>{{store.name}}</td>
            <td>
              <div class="actions">
               <a title="Ir" class="glyphicon glyphicon-share" aria-hidden="true" (click)="onSelect(store)"></a>
              </div>
            </td>
         </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showContacts" class="col-lg-9">
			<div class="store-title">
				<h2><b>{{actualStore.name}}</b></h2>
				<button (click)="showModal()" class="btn-addUser">Añadir Contacto</button>
			</div>
			<div *ngIf="actualStore.contacts.length == 0" class="alert alert-danger alert-dismissible" role="alert">
			  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>{{message}}</strong>
			</div>
         <table *ngIf="actualStore.contacts.length != 0" class="table table-quasar">
      	   <thead>
      		   <tr>
      			   <th>Nombre</th>
      			   <th>Email</th>
      			   <th>Cargo</th>
      			   <th>Telefono</th>
      			   <th>Acciones</th>
      		   </tr>
      	   </thead>
      	   <tbody>
      		   <tr *ngFor="let con of actualStore.contacts; let i='index'">
      				<td>{{con.firstname}}</td>
      				<td>{{con.email}}</td>
      				<td>{{con.position}}</td>
      				<td>{{con.phone}}</td>
      				<td>
				         <a (click)="updateModal(con)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
				         <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(con, i)"></a>
      				</td>
      		   </tr>
      	   </tbody>
         </table>
      </div>
      <!--Modal para agregar Contactos-->

      <modal modalClass="modal-dialog modal-sm" #elementModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
	    <modal-header>
	    	<h4 class="modal-title pull-left">Agregar Contacto</h4>
	    </modal-header>
	    <modal-content>
	    	<div class="body-mid col-md-12">
	          <div class="row input-form">
	            <label class="col-md-2">Cargo:</label>
	            <div class="col-md-10">
	              <select [(ngModel)]="contact.position" name="position">
	                <option value="">Seleccione...</option>
	                <option *ngFor="let charge of positions" value="{{charge}}">{{charge}}</option>
	              </select>
	            </div>
	          </div>
	          <div class="row input-form">
	            <label class="col-md-2">Nombre:</label>
	            <div class="col-md-10">
	              <input [(ngModel)]="contact.firstname" type="text" name="firstname">
	            </div>
	          </div>
	          <div class="row input-form">
	            <label class="col-md-2">Apellido:</label>
	            <div class="col-md-10">
	              <input [(ngModel)]="contact.lastname" type="text" name="lastname">
	            </div>
	          </div>
	          <div class="row input-form">
	            <label class="col-md-2">Telefono:</label>
	            <div class="col-md-10">
	              <input [(ngModel)]="contact.phone" type="text" name="phone">
	            </div>
	          </div>
	          <div class="row input-form">
	            <label class="col-md-2">Correo:</label>
	            <div class="col-md-10">
	              <input [(ngModel)]="contact.email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email">
	            </div>
	          </div>
	        </div>
	        <div>
	          <button type="button" (click)="sendContact()" class="btn-addUser create-btn">Agregar</button>
	          <button type="button" (click)="hideElementModal()" class="btn-danger create-btn">Cancelar</button>
	        </div>
	    </modal-content>
	  </modal>

</div>
