<header id="main-header" *ngIf="showHeader">
	<img (click)="goBack()" class="logo_login" id="logo" [src]='logo' alt="">
  <div class="home-container">
    <span (click)="goBack()" class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn dropdown-toggle btn-panel-user">
        Bienvenid@ {{name | uppercase}} <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu user-list" role="menu">
        <li role="menuitem"><a class="dropdown-item" (click)="destroySession()" href="#">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</header>

<section id="main-content">
	<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 main-navigation" *ngIf="showMenu">
        <nav>
          <ul *ngIf="showClient || showSupervisor || showJefeCategoria">
            <h2>Reportes</h2>
            <li><a routerLink="/general" routerLinkActive="active">Resumen General</a></li>
            <li><a routerLink="/service" routerLinkActive="active">Nivel de Servicio</a></li>
            <li><a routerLink="/incidents" routerLinkActive="active">Incidencias</a></li>
            <li><a routerLink="/cluster" routerLinkActive="active">Cluster</a></li>
            <li><a routerLink="/top" routerLinkActive="active">TOP 10</a></li>            
          </ul>
          <ul *ngIf="showClient || showSupervisor || showJefeCategoria">
            <h2>Modulos</h2>
            <li><a routerLink="/clientes/report" routerLinkActive="active">Cliente</a></li>
            <li><a routerLink="/inventory" routerLinkActive="active">Inventario</a></li>
            <li *ngIf="showAdmin || showSupervisor"><a routerLink="/measurement" routerLinkActive="active">Toma de medidas</a></li>
            <li *ngIf="showAdmin || showSupervisor"><a routerLink="/confirmation" routerLinkActive="active">Confirmación de espacios</a></li>
            <li *ngIf="showAdmin || showSupervisor"><a routerLink="/opportunities" routerLinkActive="active">Oportunidades Comerciales</a></li>
            <li *ngIf="showAdmin || showSupervisor"><a routerLink="/maintenance" routerLinkActive="active">Mantenimiento</a>
            </li>
            <li *ngIf="showAdmin"><a routerLink="/promotions" routerLinkActive="active">Promociones</a></li>
          </ul>
          <ul *ngIf="showGerente">
            <h2>Promociones</h2>
            <img class="img-promotion" *ngFor="let pro of promos" onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';" src="{{URL + pro.image}}" alt="">
          </ul>
          <ul>
            <h2 *ngIf="showAdmin || showSupervisor">Administración</h2>
            <li *ngIf="(showAdmin && (permissions && permissions.user && permissions.user.view))"><a routerLink="/users" routerLinkActive="active">Usuarios</a></li><!--({{totalusers}})-->
            <li *ngIf="(showAdmin && (permissions && permissions.organization && permissions.organization.view))"><a routerLink="/organizations" routerLinkActive="active">Organizaciones</a></li><!--({{totalOrgas}})-->
            <li *ngIf="showAdmin || showSupervisor"><a routerLink="/contacts" routerLinkActive="active">Contactos</a></li><!--({{totalContacts}})-->
            <li *ngIf="(showAdmin && (permissions && permissions.chain && permissions.chain.view))"><a routerLink="/chains" routerLinkActive="active">Cadenas</a></li><!--({{totalChains}})-->
            <li *ngIf="(showAdmin && (permissions && permissions.store && permissions.store.view))"><a routerLink="/stores" routerLinkActive="active">Tiendas</a></li><!--({{totalStores}})-->
            <li *ngIf="(showAdmin && (permissions && permissions.client && permissions.client.view))"><a routerLink="/clientes" routerLinkActive="active">Clientes</a></li><!--({{totalClients}})-->
            <li *ngIf="(showAdmin && (permissions && permissions.route && permissions.route.view))"><a routerLink="/routes" routerLinkActive="active">Rutas</a></li><!--({{totalRoutes}})-->
            <li *ngIf="(showAdmin && (permissions && permissions.element && permissions.element.view))"><a routerLink="/elements" routerLinkActive="active">Elementos</a></li><!--({{totalElements}})-->
            <li *ngIf="showAdmin"><a routerLink="/campaing" routerLinkActive="active">Campañas</a></li><!--({{totalCampaigns}})-->
            <li *ngIf="showAdmin"><a routerLink="/btl" routerLinkActive="active">Campañas BTL</a></li><!--({{totalbtl}})-->
          </ul>
        </nav>
      </div>
      <div class=" Users-view" [ngClass]="{'col-md-10':showMenu }">
        <router-outlet></router-outlet>
      </div>
    </div>

	</div>
</section>
  <loaders-css *ngIf="showLoader" [loader]="'ball-zig-zag-deflect'" [loaderClass]="'my-loader'"></loaders-css>

