<header class="header-quasar">
  <h1><a [routerLink]="['/promotions']">Promociones</a> <span *ngIf="subtitle">/ {{subtitle}}</span></h1>
  <button *ngIf="subtitle == ''" [routerLink]="['create']" class="btn-addUser">+ Nueva promoción</button>
</header>

<router-outlet></router-outlet>