<div [ngClass]="{'col-lg-2':cliente }" class="col-lg-3 client">
  <div class="client-campaigns">
    <div class="col-lg-12">
      <div class="client-name">
        <span class="label">Cliente</span>
        <h1>{{detail?.client?.name}}</h1>
      </div>
    </div>

    <div class="col-lg-12">
      <label>Año</label>
      <select [(ngModel)]='fromYear' (change)="changeYear()">
        <option *ngFor="let year of listYears; let i=index" [ngValue]="year">{{year}}</option>
      </select>
    </div>
      

    <div class="col-lg-12">
      <div class="col-lg-12 detail-block total">
        <span class="label">Total campañas</span>
        <p class="year">{{fromYear}}</p>
        <h3>{{detail?.total}}</h3>
      </div>

      <div class="col-lg-12 detail-block actives">
        <span class="label">Campañas vigentes</span>
        <p class="year">{{fromYear}}</p>
        <h3>{{detail?.actives}}</h3>
      </div>

      <div class="col-lg-12 detail-block actives concluded">
        <span class="label">Campañas concluidas </span>
        <p class="year">{{fromYear}}</p>
        <h3>{{(detail?.total - detail?.actives) - detail?.without}}</h3>
      </div>

      <!--<div class="col-lg-12 detail-block actives without_elements">
        <span class="label">Campañas sin elementos</span>
        <p class="year">{{year}}</p>
        <h3>{{detail?.without}}</h3>
      </div>-->

      <ng-container *ngIf="showPromotion">
          <h2 class="prom-title">Promociones</h2>
          <img class="img-promotion" *ngFor="let promo of promotions" onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';" src="{{base + promo.image}}" alt="">
      </ng-container>      
    </div>
  </div>
</div>

<div [ngClass]="{'col-lg-10':cliente }" class="client col-lg-9">
  <tabset>
    <tab heading='Campañas Vigentes(*)'>
      <p>(*)En las que periodo de alquiler contratado se encuentra vigente</p>
      <accordion closeOthers="true">
        <accordion-group class="element" [isOpen]="index == 0" [heading]="element._id + ' (' + element.campaigns.length + ')'" *ngFor="let element of elements.active; let index='index'">
          <ul>
            <li *ngFor="let campaign of element.campaigns">
              <a [routerLink]="['/client/detail/', campaign._id, campaign.code, campaign.name, campaign.elementType]" class="campaign">
                <img [src]="base + campaign.image" [alt]="campaign.name">
                <span class="title">
                  {{campaign.name}}
                  <div>
                    {{campaign.start | date: 'dd/MM/yy' }} - 
                    {{campaign.end | date: 'dd/MM/yy' }}  
                  </div>                  
                  <div>
                    <span [ngClass]="{ 'green': campaign.percentage >= 80, 'yellow': campaign.percentage >= 50 && campaign.percentage < 80, 'red': campaign.percentage < 50 }">{{campaign.percentage}}%</span>
                  </div>
                </span>
              </a>
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </tab>
    <tab heading="Campañas Concluidas(*)">
      <p>(*)Campañas en las que periodo de alquiler contratado ha concluido</p>
      <accordion closeOthers="true">
        <accordion-group class="element" [isOpen]="index == 0" [heading]="element._id + ' (' + element.campaigns.length + ')'" *ngFor="let element of elements.concluded; let index='index'">
          <ul>
            <li *ngFor="let campaign of element.campaigns">
              <a [routerLink]="['/client/detail/', campaign._id, campaign.code, campaign.name, campaign.elementType]" class="campaign">
                <img [src]="base + campaign.image" [alt]="campaign.name">
                <span class="title">
                    {{campaign.name}}
                    <div>
                      {{campaign.start | date: 'dd/MM/yy' }} - {{campaign.end | date: 'dd/MM/yy' }}  
                    </div>
                    <span [ngClass]="{ 'green': campaign.percentage >= 80, 'yellow': campaign.percentage >= 50 && campaign.percentage < 80, 'red': campaign.percentage < 50 }">{{campaign.percentage}}%</span>
                  </span>
              </a>
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </tab>
  </tabset>

  <modal modalClass="modal-dialog modal-sm" #thisModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
    <modal-header>

    </modal-header>
    <modal-content>
      <div class="body-mid">
        <div>
          <h4 class="welcome-text">Bienvenido {{user.firstname + ' ' + user.lastname}} - {{role}}</h4>
        </div>
      </div>
      <div class="btn-close">
        <button type="button" (click)="closeModal()" class="btn-addUser create-btn">Aceptar</button>
      </div>
    </modal-content>
  </modal>

</div>



