<div class="contenedor_login">
   <div class="caja_modal_login">
       <div class="col-lg-8" id="modal_login" >
           <form class="form-horizontal" 
           [formGroup]="userForm" 
           (ngSubmit)="onSubmit(userForm.value, userForm.valid)">
               <div class="image_form_login">
                  <img class="logo_login" id="logo" [src]='logo' alt="">
               </div>
               <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
                  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               		<strong>{{message}}</strong>
               </div>
               <div class="formulario_login">
                  <div class='form-group'>
                     <div class="input">
                        <div class="input-group login-form">
                           <label for="inputEmail3" class="col-sm-12 col-xs-12 control-label control-login">Usuario</label>
                           <div class="col-sm-12 col-xs-12">
                              <input type="text" formControlName="email" class="form-control" id="email" placeholder="">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class='form-group'>
                     <div class="input">
                        <div class="input-group login-form">
                           <label for="inputEmail3" class="col-sm-12 col-xs-12 control-label control-login">Contraseña</label>
                           <div class="col-sm-12 col-xs-12">
                              <input type="password" formControlName="password" class="form-control" id="password" placeholder="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             <div class="form-group">
               <div class="col-lg-12 col-sm-9" id="button_ingresar">
                 <!-- <button class='btn btn-default' ng-disabled="!user.username || !user.password" type="submit">Ingresar</button> -->
                  <button class='btn-login btn btn-default' type="submit">Ingresar</button>
               </div>
             </div>
           </form>
       </div>
   </div>
</div>
