<div class="top">
  <div class="row">
    <div class="col-lg-12"  *ngIf="organizations.length > 0">
      <label>Organización</label>
      <select [(ngModel)]="organization">
        <option value="">Seleccione...</option>
        <option value="all">Todas</option>
        <option [value]="item._id" *ngFor="let item of organizations | orderBy: 'name'" >{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="organization != ''">
    <div class="col-lg-12">
      <div class=" search-bar">

        <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
          <strong>{{message}}</strong>
        </div>

        <form (submit)="onSearch()">
          <label>Unidad</label>
          <select [(ngModel)]="search.unit" [ngModelOptions]="{standalone: true}">
            <option value="">Seleccione...</option>
            <option value="chains">Cadena</option>
            <option value="stores">Tienda</option>
            <option value="clients">Cliente</option>
            <!--<option value="campaigns">Campaña</option>-->
            <option value="carga">Elemento de Carga</option>
            <option value="liviano">Elemento Liviano</option>
          </select>
          <label>Periodo</label>
          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.from" [config]="datePickerConfig"></dp-date-picker>
          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.to" [config]="datePickerConfig"></dp-date-picker>
          <!--<label>Visualización</label>
          <select [(ngModel)]="search.visual" [ngModelOptions]="{standalone: true}">
            <option value="">Seleccionar ... </option>
            <option value="client">Por Cliente</option>
            <option value="cluster">Por Cluster</option>
          </select>-->
          <button type="submit" class="normal-btn-search">Mostrar</button>
        </form>
      </div>
    </div>


      <div *ngIf="showTop">
        <div class="col-lg-4">
          <h2>{{title}}</h2>
          <table class="table table-quasar">
            <thead>
            <tr>
              <th>{{ title }}</th>
              <th># Elementos</th>
              <th>Porcentaje</th>
              <th *ngIf="top.length>0 && top[0].campaigns"># Campaña</th>
            </tr>
            </thead>
            <tbody>
            <ng-container >
              <tr *ngFor="let info of top">
                <td>{{info.name}}</td>
                <td>{{info.elements}}</td>
                <td>{{info.percent}}%</td>
                <td *ngIf="info.campaigns">{{info.campaigns}}</td>
              </tr>
              <!--<tr *ngFor="let info.stores">
                <td>{{item.name}}</td>
                <td>{{item.elements}}</td>
                <td>{{item.percent}}%</td>
              </tr>
              <tr *ngFor="let info.cargas">
                <td>{{item.name}}</td>
                <td>{{item.elements}}</td>
                <td>{{item.percent}}%</td>
              </tr>
              <tr *ngFor="let info.livianos">
                <td>{{item.name}}</td>
                <td>{{item.elements}}</td>
                <td>{{item.percent}}%</td>
              </tr>
              <ng-container *ngFor="let info.clients">
                <tr *ngIf="item.name">
                  <td>{{item.name}}</td>
                  <td>{{item.elements}}</td>
                  <td>{{item.percent}}%</td>
                  <td *ngIf="item.campaigns">{{item?.campaigns}}%</td>
                </tr>
              </ng-container>-->
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="col-lg-8">
          <!-- [gradient]="gradient"-->
          <h2><b>Elementos:</b></h2>
          <ngx-charts-pie-chart
            [view]="topPie.view"
            [results]="topPie.data"
            [legend]="topPie.showLegend"
            [explodeSlices]="topPie.explodeSlices"
            [labels]="topPie.showLabels"
            [doughnut]="topPie.doughnut"
            [legendTitle]="title">
          </ngx-charts-pie-chart>

        </div>
      </div>
      <div *ngIf="cliente">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
          <!-- [gradient]="gradient"-->
          <h2><b>Campañas:</b></h2>
          <ngx-charts-pie-chart
            [view]="clientPie.view"
            [results]="clientPie.data"
            [legend]="clientPie.showLegend"
            [explodeSlices]="clientPie.explodeSlices"
            [labels]="clientPie.showLabels"
            [doughnut]="clientPie.doughnut"
            [legendTitle]="title">
          </ngx-charts-pie-chart>

        </div>
      </div>
  </div>
</div>
