<div class="searchUser2">
  <div class="search">
    <label>Nombre</label>
    <input type="text" name="search" [(ngModel)]="userFilter.name">
  </div>
  <div class="search">
    <label>Región</label>
    <input type="text" name="search" [(ngModel)]="userFilter.region">
  </div>
  <div class="search">
    <label>Sector</label>
    <input type="text" name="search" [(ngModel)]="userFilter.sector">
  </div>
  <div class="search">
    <label>Zona</label>
    <input type="text" name="search" [(ngModel)]="userFilter.zone">
  </div>
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nro</th>
      <th>NOMBRE</th>
      <th>REGION</th>
      <th>SECTOR</th>
      <th>ZONA</th>
      <th>ABREVIACIÓN</th>
      <th *ngIf="permissions && permissions.store && (permissions.store.update || permissions.store.delete)">ACCIONES</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let store of stores | filterBy: userFilter; let i = 'index';">
      <td>{{i + 1}}</td>
      <td>{{store.name}}</td>
      <td>{{store.region}}</td>
      <td>{{store.sector}}</td>
      <td>{{store.zone}}</td>
      <td>{{store.shortName}}</td>
      <td *ngIf="permissions && permissions.store && (permissions.store.update || permissions.store.delete)">
        <div class="actions">
          <a *ngIf="permissions && permissions.store && permissions.store.update" [routerLink]="['/stores/', store._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a *ngIf="permissions && permissions.store && permissions.store.delete" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(store)"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
  <div>
    <h4>{{message}}</h4>
  </div>
</div>
