<div class="searchUser2">
  <div class="search">
    <label>Nombres</label>
    <input type="text" name="search" [(ngModel)]="userFilter.firstname">
  </div>
  <div class="search">
    <label>Apellidos</label>
    <input type="text" name="search" [(ngModel)]="userFilter.lastname">
  </div>
  <div class="search">
    <label>Rol</label>
    <input type="text" name="search" [(ngModel)]="userFilter.role">
  </div>
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nro</th>
      <th>NOMBRES</th>
      <th>APELLIDOS</th>
      <th>CORREO</th>
      <th>ROL</th>
      <th>CREACIÓN</th>
      <th>ACCIONES</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | filterBy: userFilter; let i = 'index'">
      <td>{{i+1}}</td>
      <td>{{user.firstname | uppercase}}</td>
      <td>{{user.lastname | uppercase}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.created | date: 'dd/MM/yyyy'}}</td>
      <td>
        <div class="actions">
          <a *ngIf="permissions && permissions.user && permissions.user.update" [routerLink]="['/users/', user._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a *ngIf="permissions && permissions.user && permissions.user.delete" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(user)"></a>
          <a [routerLink]="['/users/', user._id, 'historial']" title="historial" class="glyphicon glyphicon-eye-open" aria-hidden="true"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
  <div>
    <h4>{{message}}</h4>
  </div>
</div>
