<header class="header-quasar">
  <h1><a [routerLink]="['/opportunities']">Oportunidades Comerciales</a></h1>
  <button (click)="exportReport()" class="btn-addUser">Reporte</button>
</header>

<div class="searchUser2">
  <div class="search">
  	<label>Tienda:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.store.name">
  </div>
  <div class="search">
  	<label>Tipo:</label>
  	<input type="text" name="search" [(ngModel)]="type.type">
  </div>
</div>

<div class="row" id="contentScroll">
	<div class="col-md-12">
		<table class="table table-quasar" id="tablescroll">
		    <thead>
			    <tr>
			      <th>Tienda</th>
			      <th>Tipo</th>
			      <th>Comentario</th>
			      <th>Foto</th>
			      <th>Creador</th>
			      <th>Fecha Creación</th>
			      <th>Eliminar</th>
			    </tr>
		    </thead>
		    <tbody>
		    <tr *ngFor="let op of Oppo | filterBy: userFilter | filterBy: type">
		      <td>{{op.store.name}}</td>
		      <td>{{op.type}}</td>
		      <td>{{op.comment}}</td>		      
			  <td><a target="_blank" href="{{ URL + op.picturelow}}" class="fa fa-picture-o" aria-hidden="true"></a><a href="{{ URL + op.picture }}" download="{{op.picture}}" class="fa fa-download" aria-hidden="true"></a></td>
		      <td>{{op.creator.firstname + op.creator.lastname}}</td>
		      <td>{{op.created | date: 'dd/MM/yy'}}</td>
		      <td><a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(op)"></a></td>
		    </tr>
		    </tbody>
		</table>
		<div id="bottom_anchor"></div>
	</div>
</div>