<div class="searchUser">
  <label>Buscar</label>
  <input type="text" name="search" [(ngModel)]="userFilter.name">
</div>

<div class="row">
	<div class="col-md-3">
		<table class="table table-quasar">
		    <thead>
		    <tr>
		      <th>Nro</th>
		      <th>Cliente</th>
		      <th *ngIf="permissions && permissions.client && (permissions.client.update || permissions.client.delete)">Acciones</th>
		    </tr>
		    </thead>
		    <tbody>
		    <tr *ngFor="let cli of clientes | filterBy: userFilter; let i = 'index'">
		      <td>{{i+1}}</td>
		      <td>{{cli.name}}</td>
		      <td *ngIf="permissions && permissions.client && (permissions.client.update || permissions.client.delete)">
		        <a *ngIf="permissions && permissions.client && permissions.client.update" [routerLink]="['/clientes/', cli._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
		        <a *ngIf="permissions && permissions.client && permissions.client.delete" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(cli)"></a>
		        <!--icon eye<a href="" class="glyphicon glyphicon-eye-open" aria-hidden="true"></a>-->
		      </td>
		    </tr>
		    </tbody>
		</table>
	</div>
</div>
