<div class="searchUser2">
  <div class="search">
  	<label>Campaña:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.name">
  </div>
  <div class="search">
  	<label>Tienda:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.store">
  </div>
  <div class="search">
  	<label>Elemento:</label>
  	<input type="text" name="search" [(ngModel)]="userFilter.elementType">
  </div>
  <div>
  	<label>Estado:</label>
  	<select [(ngModel)]="userFilter.confirmed.ok">
  		<option [ngValue]="null">Seleccione...</option>
  		<option [ngValue]="false">Pendiente</option>
  		<option [ngValue]="true">Finalizado</option>
  	</select>
  </div>
</div>

<div class="row" id="contentScroll">
	<div class="col-md-12">

		<table class="table table-quasar" id="tablescroll">
		    <thead>
			    <tr>
			      <th>Campaña</th>
			      <th>Estado</th>
			      <th>Tienda</th>
			      <th>Tipo de Elemento</th>
			      <th>Medidas</th>
			      <th>Fecha Programada</th>
			      <th>Fecha Registro</th>
			      <th>Images</th>
			      <th>Observacion</th>
			    </tr>
		    </thead>
		    <tbody>
        <!-- filterBy: userFilter | filterBy: store | filterBy: element-->
		    <tr *ngFor="let medi of measurement | filterBy: userFilter  ">
		      <td>
		      	<a [routerLink]="['/campaing/', medi._id, 'edit']">{{medi.name}}</a>
		      </td>
		      <td>
		      	<p *ngIf="!medi.date">Pendiente</p>
		      	<p *ngIf="medi.date">Finalizado</p>
		      </td>
		      <td>{{medi.store}}</td>
		      <td>{{medi.elementType}}</td>
		      <td>
		      	<p *ngFor="let measu of medi.measurements">{{measu.side}} ({{measu.quantity}}): {{measu.value}}</p>
		      </td>
		      <td>{{medi.campaignsDate | date: 'dd/MM/yy'}}</td>
		      <td>{{medi.date | date: 'dd/MM/yy'}}</td>
		      <td><a target="_blank" href="{{ URL + medi.picture}}" class="fa fa-picture-o" aria-hidden="true" *ngIf="medi.picture"></a></td>
		      <td>{{medi.observation}}</td>
		    </tr>
		    </tbody>
		</table>
		<div id="bottom_anchor"></div>
	</div>
</div>