<div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message}}</strong>
</div>
<form class="create-form" (ngSubmit)="onSubmit()">
  <div class="body-container">
    <div class="row input-form">
      <label class="col-md-2">Nombre:</label>
      <div class="col-md-10">
        <input [(ngModel)]="client" type="text" name="name" id="name">
      </div>
    </div>
    <div>
      <button type="submit" class="btn-addUser create-btn">Grabar</button>
    </div>
  </div>
</form>