<div class="searchUser">
  <label>Buscar</label>
  <input type="text" name="search" [(ngModel)]="userFilter.name">
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Abreviación</th>
      <th>Creación</th>
      <th>Creado por</th>
      <th *ngIf="permissions && permissions.chain && (permissions.chain.update || permissions.chain.delete)">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chain of chains | filterBy: userFilter; let i = 'index'">
      <td>{{i+1}}</td>
      <td>{{chain.name}}</td>
      <td>{{chain.shortName}}</td>
      <td>{{chain.created | date: 'dd/MM/yyyy'}}</td>
      <td>{{chain.creator.firstname}} {{chain.creator.lastname}}</td>
      <td *ngIf="permissions && permissions.chain && (permissions.chain.update || permissions.chain.delete)">
        <div class="actions">
          <a *ngIf="permissions && permissions.chain && permissions.chain.update" [routerLink]="['/chains/', chain._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a *ngIf="permissions && permissions.chain && permissions.chain.delete" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(chain)"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
</div>
