<header class="header-quasar">
	<h1><a [routerLink]="['/users']">USUARIOS</a> <span *ngIf="subtitle">/ {{subtitle}}</span></h1>
	<button *ngIf="(permissions && permissions.user && permissions.user.create)" [routerLink]="['create']" class="btn-addUser">+ Nuevo usuario</button>
</header>

<router-outlet></router-outlet>

