<header class="header-quasar">
	<h1><a [routerLink]="['/stores']">TIENDAS</a> <span *ngIf="subtitle">/ {{subtitle}}</span></h1>
    <div>
        <button (click)="exportReport()" class="btn-addUser">Reporte</button>
    	<button *ngIf="permissions && permissions.store && permissions.store.create" [routerLink]="['create']" class="btn-addUser">+ Nueva tienda</button>
    </div>
</header>

<router-outlet></router-outlet>

