<header class="header-quasar">
	<h1><a [routerLink]="['/chains']">CADENAS</a><span *ngIf="subtitle">/ {{subtitle}}</span></h1>
	<button *ngIf="permissions && permissions.chain && permissions.chain.create" [routerLink]="['create']" class="btn-addUser">+ Nueva cadena</button>
</header>

<router-outlet></router-outlet>