<header class="header-quasar">
  <h1><a [routerLink]="['/organizations']">ORGANIZACIONES</a> <span *ngIf="subtitle">/ {{subtitle}}</span></h1>
  <button *ngIf="permissions && permissions.organization && permissions.organization.create" [routerLink]="['create']" class="btn-addUser">+ Nueva Organizacion</button>
</header>

<router-outlet></router-outlet>
