<header class="header-quasar">
  <h1><a [routerLink]="['/measurement']">MEDIDAS</a> <span *ngIf="subtitle">/ {{subtitle}}</span></h1>
  <button (click)="exportReport()" class="btn-addUser">Reporte</button>
</header>

<router-outlet></router-outlet>