<div class="client">
  <div class="row">
    <div class="searchUser col-lg-12">
      <label>Buscar</label>
      <input type="text" name="search" [(ngModel)]="clientFilter.name">
    </div>
    <div class="col-lg-3">

      <table class="table table-quasar">
        <thead>
          <tr>
            <td>Nombre</td>
            <td>Acción</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | filterBy: clientFilter | orderBy: 'name'">
            <td>{{client.name}}</td>
            <td>
              <div class="actions">
                <a title="Ir" class="glyphicon glyphicon-share" aria-hidden="true" (click)="onSelect(client._id)"></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-9 client-report" [hidden]="!showCampaigns">
      <app-clientes-resumen></app-clientes-resumen>
    </div>

  </div>
</div>
