<header class="header-quasar">
  <h1>INVENTARIO</h1>
</header>

<div class="inventory">
  <div class="row">
    <tabset class="col-lg-12">
      <tab heading="Resumen general">
        <div class="row">
          <div class="col-lg-12">
            <div class="search-bar">
              <label>Ver semana del: </label>
              <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="searchRG.date" [config]="datePickerConfig"></dp-date-picker>
              <button type="button" (click)="sendSearchRG(searchRG)" class="normal-btn-search">Mostrar</button>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="resume-general">
            <div class="inventory-installed">
              <div class="row first-section">
                <div class="col-lg-7">
                  <table class="table table-quasar">
                    <thead>
                      <tr>
                        <th>IMPLEMENTADOR</th>
                        <th>CANTIDAD</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Quasar</td>
                        <td>{{resum_inventory?.implementsByImplementer.quasar}}</td>
                      </tr>
                      <tr>
                        <td>OTROS</td>
                        <td>{{resum_inventory?.implementsByImplementer.others}}</td>
                      </tr>
                      <tr>
                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{resum_inventory?.implementsByImplementer.quasar + resum_inventory?.implementsByImplementer.others}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-5">
                  <div class="pie-container">
                    <h4>IMPLEMENTADORES(*)</h4>
                    <canvas baseChart [data]="[resum_inventory?.implementsByImplementer.quasar, resum_inventory?.implementsByImplementer.others]"
                      [labels]="['Quasar', 'Otros']" [chartType]="'pie'" [colors]="pieColors" [options]="pieOptions"></canvas>
                  </div>                  
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8">
                  <table class="table table-quasar">
                    <thead>
                      <tr>
                        <th>TIENDA</th>
                        <th>QUASAR</th>
                        <th>OTROS</th>
                        <th>TOTAL</th>
                        <th>%</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of implementsByStore">
                        <td>{{item._id}}</td>
                        <td>{{item.quasar}}</td>
                        <td>{{item.others}}</td>
                        <td>{{item.total}}</td>
                        <td>{{(item.quasar / item.total)*100 | number:'1.2-2'}} %</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="inventory-installed">
              <div class="row first-section">
                <div class="col-lg-7">
                  <table class="table table-quasar">
                    <thead>
                      <tr>
                        <th>STATUS DEL ELEMENTO</th>
                        <th>CANTIDAD</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Inventariado</td>
                        <td>{{resum_inventory?.implementsByCondition.implements}}</td>
                      </tr>
                      <tr>
                        <td>No encontrado</td>
                        <td>{{resum_inventory?.implementsByCondition.notFound}}</td>
                      </tr>
                      <tr>
                        <td>Pendiente</td>
                        <td>{{resum_inventory?.implementsByCondition.pendientes}}</td>
                      </tr>
                      <tr>
                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{resum_inventory?.implementsByCondition.implements + resum_inventory?.implementsByCondition.notFound + resum_inventory?.implementsByCondition.pendientes}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-5">
                  <div class="pie-container">
                    <h4>STATUS(*)</h4>
                    <canvas baseChart [data]="[resum_inventory?.implementsByCondition.implements, resum_inventory?.implementsByCondition.notFound, resum_inventory?.implementsByCondition.pendientes]"
                      [labels]="['Inventariado', 'No encontrados', 'Pendiente']" [chartType]="'pie'" [colors]="pieColors" [options]="pieOptions"></canvas>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8">
                  <table class="table table-quasar">
                    <thead>
                      <tr>
                        <th>TIENDA</th>
                        <th>INVENTARIADO</th>
                        <th>NO ENCONTRADO</th>
                        <th>PENDIENTE</th>
                        <th>TOTAL</th>
                        <th>%</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of conditionsByStore">
                        <td>{{item._id}}</td>
                        <td>{{item.count}}</td>
                        <td>{{item.notFound}}</td>
                        <td>{{item.pendientes}}</td>
                        <td>{{item.total}}</td>
                        <td>{{(item.count / item.total)*100 | number:'1.2-2'}} %</td>
                      </tr>
                    </tbody>
                  </table>                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
          </div>
        </div>
      </tab>
      <tab heading="Inventario Fotográfico">
        <div class="row">
          <div class="col-lg-12">
            <div class="search-bar">

              <label>Periocidad: </label>
              <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.from" [config]="datePickerConfig"></dp-date-picker>
              <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.to" [config]="datePickerConfig"></dp-date-picker>
              <button type="button" (click)="sendSearch(search)" class="normal-btn-search">Mostrar</button>
              <button type="button" (click)="exportReport()" class="normal-btn-search">Reporte</button>
            </div>
          </div>
        </div>
        <div *ngIf="showTable" class="row">
          <div class="col-lg-4">
            <table class="table table-quasar">
              <thead>
                <tr>
                  <th>IMPLEMENTADOR</th>
                  <th>CANTIDAD</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Quasar</td>
                  <td>{{inventory.implementsByImplementer?.quasar}}</td>
                </tr>
                <tr>
                  <td>OTROS</td>
                  <td>{{inventory.implementsByImplementer?.others}}</td>
                </tr>
                <tr>
                  <td><b>TOTAL</b></td>
                  <td><b>{{inventory.implementsByImplementer?.quasar + inventory.implementsByImplementer?.others}}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-8">
            <div class="search">
              <label>Visualización:</label>
              <select (change)="showfilters()" [(ngModel)]="viewDisplay">
                <option value="">Todos</option>
                <option value="implementer">Implementador</option>
                <option value="category">Categoría</option>
                <option value="t">Tienda</option>
              </select>
              <div *ngIf="viewDisplay == 'implementer' || viewDisplay == 'category'  || viewDisplay == 't'">
                <label>{{filterName}}</label>                
                  <ng-container *ngIf="viewDisplay == 'implementer'">
                    <select (change)="inventoryView()" [(ngModel)]="filterBy">
                    <option value="">Seleccione...</option>
                    <option value="Quasar">Quasar</option>
                    <option value="noquasar">No Quasar</option>
                    </select>
                  </ng-container>
                  <ng-container *ngIf="viewDisplay == 'category'">
                    <select [(ngModel)]="userFilter.categoryFather" (change)="changeCategory()" >
                    <option value="">Todos</option>
                    <option *ngFor="let cate of allCategories; let i=index" [ngValue]="cate.name">{{cate.name}}</option>
                    </select> 
                  </ng-container> 
                  <ng-container *ngIf="viewDisplay == 't'">
                    <select [(ngModel)]="storeid" (change)="changeStore()" >
                    <option value="">Todos</option>
                    <option *ngFor="let store of stores; let i=index" [ngValue]="store.name">{{store.name}}</option>
                    </select> 
                  </ng-container>                              
              </div>
              <div *ngIf="userFilter.categoryFather != '' && viewDisplay == 'category'">
                <label>Categoría: </label>
                <select [(ngModel)]="userFilter.category" (change)="categoryFilter()">
                  <option value="">Seleccione...</option>
                  <option *ngFor="let cate of subCategories; let i=index" [ngValue]="cate.name">{{cate.name}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="photoClient.length == '0'">
              <p><b>No se encontro inventario</b></p>
            </div>
            <accordion closeOthers="true">
              <accordion-group class="element" [isOpen]="index == 0" [heading]="client.id" *ngFor="let client of photoClient; let index='index'">
                <div>
                  <label>Buscar</label>
                  <input type="text" name="search" [(ngModel)]="userFilter.campaign">
                </div>
                <ul>                  
                  <ng-container *ngFor="let element of client.elements | filterBy: userFilter">
                      <ng-container *ngFor="let pic of element.inventories; let i='index'">
                        <li *ngIf="i == 0">              
                          <a class="campaign">                            
                            <ng-container >
                              <img (click)="open(element, i)" [src]="base + pic?.picture" [alt]="pic?.implementer">
                              <span class="title">
                                {{element.code}}
                                <p *ngIf="showStoreNames" class="text-no-margin">{{pic.store}}</p>
                                {{pic.campaign + ' (' + element.inventories.length + ')'}}
                                <div>
                                  {{pic?.date | date: 'dd/MM/yy' }}
                                </div>
                              </span>
                            </ng-container>
                          </a>
                        </li>
                      </ng-container>
                  </ng-container>
                </ul>
              </accordion-group>
            </accordion>
          </div>
        </div>

      </tab>
      <tab heading="Inventario no Quasar">
        <div class="row">
          <div class="col-lg-12">
            <div class="search-bar">
              <label>Periocidad: </label>
              <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="searchNoQuasar.from" [config]="datePickerConfig"></dp-date-picker>
              <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="searchNoQuasar.to" [config]="datePickerConfig"></dp-date-picker>
              <button type="button" (click)="sendSearchNoQuasar(searchNoQuasar)" class="normal-btn-search">Mostrar</button>
              <button *ngIf="permissionView" type="button" (click)="sendExcel()" class="normal-btn-search">Subir Excel</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-quasar">
              <thead>
                <tr>
                  <th>Marca</th>
                  <th>Cliente</th>
                  <th>Tienda</th>
                  <th>Elemento</th>
                  <th>Categoría</th>
                  <th>Material</th>
                  <th>Registro</th>
                  <th>Imagen</th>
                  <th *ngIf="permissionView">Subir Imagen</th>
                </tr>
              </thead>
              <tbody>
                <tr [hidden]='!data.client[0]' *ngFor="let data of noQuasarData">
                  <td>{{data.brand?data.brand:''}}</td>
                  <td>{{data.client[0]?data.client[0].name:''}}</td>  
                  <td>{{data.store[0]?data.store[0].name:''}}</td>
                  <td>{{data.element[0]?data.element[0].name:''}}</td>   
                  <td>{{data.category}}</td>
                  <td>{{data.material}}</td>
                  <td>{{data.dateRegister}}</td>
                  <td><a target="_blank" href="{{URL + data.picture}}" class="fa fa-picture-o" aria-hidden="true"></a></td>
                  <td *ngIf="permissionView"><a title="eliminar" class="glyphicon glyphicon-upload" aria-hidden="true" (click)="sendImageNoQuasar(data._id)"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>
    </tabset>
  </div>

  <modal modalClass="modal-dialog modal-sm" #importExcelModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
    <modal-header>
      <h4 class="modal-title pull-left">Archivo:</h4>
    </modal-header>
    <modal-content>
      <div class="body-container col-md-12">
        <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
          <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{message2}}</strong>
        </div>
      </div>

      <ng-container>
        <input type="file" #file (change)="openExcel(file.files)"/>
      </ng-container>
      <div>
        <button type="button" (click)="saveExcelNoQuasar()" class="btn-addUser create-btn">Enviar</button>
        <button type="button" (click)="hideImportExcelModal()" class="btn-danger create-btn">Cancelar</button>
      </div>
    </modal-content>
  </modal>

  <modal modalClass="modal-dialog modal-sm" #imageNoQuasarModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
    <modal-header>
      <h4 class="modal-title pull-left">Archivo:</h4>
    </modal-header>
    <modal-content>
      <div class="body-container col-md-12">
        <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
          <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{message2}}</strong>
        </div>
      </div>

      <ng-container>
        <div class="col-lg-12 input-form">
          <label>Imagen:</label>
          <div>
            <input id="filePicker" (change)="handleFileImageSelect($event)" type="file" />
          </div>
        </div>
      </ng-container>
      <div>
        <button type="button" (click)="saveImageNoQuasar()" class="btn-addUser create-btn">Enviar</button>
        <button type="button" (click)="hideImageNoQuasarModal()" class="btn-danger create-btn">Cancelar</button>
      </div>
    </modal-content>
  </modal>
  
</div>