$font: Helvetica, sans-serif, Arial
$font-size-base: 14px
$default-size: 1rem
$color-primary: #333
$Cwhite: #fff
$default-border: 1px solid $color-primary
$image-url: url('./assets/images/bck-login.png')

@font-face
  font-family: 'Archer'
  src: url('./assets/fonts/Archer-Book-Pro.woff')


*
  margin: 0
  padding: 0
  box-sizing: border-box
  &:focus
    outline: 0

body, html
  font-size: 14px
  color: $color-primary
  font-family: Archer

.lightbox
  position: fixed
  height: 100%

.store-title 
  display: flex
  align-items: center
  justify-content: space-between

.promo-img
  width: 100%
  height: auto
  border: 1px solid #000
  margin-bottom: 1rem

.title-graphic
  text-align: center

div.bars
  margin-top: 2rem


.prom-title
  margin: 1rem 0px !important
  border-bottom: 1px solid #000

.box-evi
  margin: 0px 0px 15px 0px


.history-table
  margin: 15px 0px

.messagealert
  margin: 0px 10px 10px 10px

.create-btn
  margin: 1rem 0px

.type-data
  margin: 1.5rem 0px

.first-section
  margin-bottom: 4rem

.img-promotion
  width: 100%
  border: 1px solid #000
  margin-bottom: 2rem
  &:last-child
    margin-bottom: 0

.glyphicon.exclamation-sign
  color: red

#main-header
  padding: $default-size
  height: 5.71rem
  border-bottom: $default-border
  display: flex
  justify-content: space-between
  align-items: center

  img
    display: block
    height: 100%
    width: auto
    cursor: pointer

.catecheck
  float: left
  margin-right: 5px !important


.pie-info
  font-size: 12px


.check-one
  margin-left: 20px


.flex
  display: flex
  align-items: center
  justify-content: space-between

.check-two
  margin-left: 50px


.liststores
  display: flex
  align-items: center
  i
    margin-left: 10px
    cursor: pointer

.hidden-campaign
  color: red
  opacity: 0.7

.periocity
  margin-bottom: 1rem

.uni-ins
  display: flex
  align-items: center
  flex-direction: column
  div.col-lg-12
    margin: 15px 0px
  i 
    margin-left: 10px
    cursor: pointer

.backButton
  color: #337ab7
  cursor: pointer

.binnacle
  border-left: 1px solid #000

.binnacle-text
  margin-bottom: 15px
  p
    &:first-child
      margin-right: 10px
    margin: 0


.contenedor_login
  background-image: $image-url
  background-position: 50% 50%
  display: block
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  height: 100vh

.caja_modal_login
  position: fixed
  top: 0
  width: 100%
  height: 100%
  z-index: 2
  margin: 0
  text-align: center
  font-family: 'Archer'

.form-horizontal
  .control-login
    text-align: left

form
  select, input[type='text']

    -webkit-appearance: none
    border: 1px solid #ccc
    border-radius: 0
    padding: 0 .2rem
  select
    min-width: 207px
    background: url("assets/images/bg-select.png") no-repeat 100% 50%
  .wide
    width: 35rem
  .table-form
    margin: 1rem 0

.campaign
  overflow-y: scroll
  height: 90vh
  width: 1000px
  &::-webkit-scrollbar
    width: 6px
    background-color: #F5F5F5
  &::-webkit-scrollbar-thumb
    background-color: #000

.campaign2
  height: auto
  width: 1000px
  &::-webkit-scrollbar
    width: 6px
    background-color: #F5F5F5
  &::-webkit-scrollbar-thumb
    background-color: #000

.campaign3
  height: auto
  width: 770px

.img-campaing
  width: 100%
  height: auto

.info-evidence
  display: flex
  justify-content: space-between

.image-box
  border: 1px solid #ccc
  cursor: pointer
  &:hover
    .evidence-text
      background-color: #3d5289
      color: #fff

  .evidence-text
    background-color: #ccc
    font-family: 'Archer'
    padding: 7px 10px
    transition: all ease 0.6s
  img
    width: 100%
    height: auto


.btn-panel-user
  &:hover,
  &:focus,
  &:active
    box-shadow: none !important

.open
  > .user-list
    display: flex
    flex-direction: column
    text-align: center

.login-form
  display: block

.table-quasar thead,
.permissions thead,
.table-dates thead
  background-color: #3d5289
  color: $Cwhite
  .client-store
    text-align: left
  tr
    th
      border-bottom: none
      text-align: center
      vertical-align: middle

.table-quasar tbody,
.permissions tbody,
.table-dates tbody
  .client-store
    text-align: left
  td
    text-align: center

.table-quasar
  .actions
    display: flex
    justify-content: space-around
    align-items: center
  .totalInfo
    background-color: #aaa
    color: $Cwhite
  .fa
    font-family: FontAwesome;
  .glyphicon
    font-family: 'Glyphicons Halflings';

.users-table,
.permissions,
.table-dates
  tbody
    tr
      td
        border-bottom: none
        border-top: none !important

      a.glyphicon
        color: #3d5289

    tr:nth-child(even)
      background-color: #f7f7f7

    tr:nth-child(odd)
      background-color: #e9e9e9

.permissions
  thead
    th
      text-align: center
  tbody
    td
      &:first-child
        text-align: left
      &:first-child,
      &:last-child
        border: none
      border: 2px solid #ccc
      text-align: center
    tr
      &:first-child,
      &:last-child
        border: none
      border-top: 2px solid #ccc
      border-bottom: 2px solid #ccc

#modal_login
  background: $Cwhite
  color: #535353
  width: 400px
  height: 500px
  z-index: 0
  padding: 2rem
  position: absolute
  left: 0
  right: 0
  display: flex
  margin: auto
  bottom: 0
  top: 0
  justify-content: space-around
  align-items: center
  flex-direction: column

.storeList p
  margin: 15px 0px

.body-mid
  padding: 20px 15px
  margin: 20px 0px
  border-bottom: 1px solid #e5e5e5



button.dropdown-toggle
  display: flex
  font-family: 'Archer'
  font-size: 16px
  background: none
  color: #000
  border: none
  align-items: center
  span
    margin-left: 10px

.btn-login
  background-color: #323232
  color: $Cwhite
  font-size: 1rem
  width: 45%
  border-radius: 0px
  height: 40px
  margin-top: 50px
  transition: all ease 0.7s

.btn-login:hover
  background-color: $Cwhite
  color: #000
  transition: all ease 0.7s

.evi-box-img
  display: flex
  flex-wrap: wrap

.home-container
  display: flex
  align-items: center
  span.glyphicon
    cursor: pointer

.chartinfo
  p
    font-size: 1.5rem
    span
      font-size: 1rem

#main-content
  min-height: calc(100vh - 9.71rem)
  nav
    font-family: 'Archer'
    padding: 1rem
    ul:first-child,
    ul:nth-child(2)
      margin-bottom: 50px
    ul
      margin: 0
      padding: 0
      h2
        font-size: $default-size*1.5
        margin: $default-size 0
        padding: 0
        border-bottom: $default-border
        font-weight: bold
        padding-bottom: 5px
      li
        list-style: none
        margin: 5px 0px
        a
          color: #000
          font-size: 16px
  header
    padding: $default-size 0
    display: flex
    justify-content: space-between
    align-items: center
    h1
      font-size: $default-size*2
      margin: 0
      padding: 0
      a
        color: $color-primary
      span
        font-size: $default-size*1.2
  h2
    font-size: $default-size*1.3

  label
    font-weight: 400

  .header-quasar
    border-bottom: 1px solid #000
    margin-bottom: 25px

  .btn-addUser
    background: #3d5289
    border: 1px solid #2a3a63
    color: $Cwhite

    font-size: 17px
    padding: .5rem .5rem
    font-family: 'Archer'

  .btn-add
    background: #3d5289
    color: #FFF
    border-radius: 0
    padding: 0 0.5rem
    margin-top: -3px
    border: 0
    line-height: 22px
    box-shadow: none

  .btn-danger
    background: #d9534f
    border: 1px solid #d43f3a
    color: $Cwhite
    font-size: 17px
    padding: .5rem .5rem
    font-family: 'Archer'


  .searchUser
    border-bottom: 1px solid #000
    padding-bottom: 25px
    margin-bottom: 25px
    font-family: 'Archer'
    font-size: 20px
    display: flex
    align-items: center
    input
      height: 30px
      margin-left: 10px
    .search-bar 
      border-bottom: 0px;
      padding: 1rem 0;
      margin-bottom: 0;
      width: 100%;
      margin-left: 35px;
      font-size: 14px;

  .searchUser2
    border-bottom: 1px solid #000
    padding-bottom: 25px
    margin-bottom: 25px
    font-family: 'Archer'
    font-size: 20px
    display: flex
    align-items: center
    justify-content: space-between
    input
      height: 30px
      margin-left: 10px


  .normal-btn-search
    background-color: #323232
    color: $Cwhite
    font-size: 1rem
    width: 10%
    border-radius: 0px
    border: none
    height: 30px
    margin-left: 10px
    transition: all ease 0.7s

  .client
    padding: 1rem
    .label
      padding: 0
      color: #000000
      font-size: 1rem
      font-weight: 400
      white-space: pre-wrap
    h1, h2
      color: #000000
      font-family: Archer
      font-size: 1.7rem
      font-weight: 700
      text-transform: uppercase
      padding: 0
      margin: 0
    .client-campaigns
      border-right: 1px solid #333
      .detail-block
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        color: #FFF
        height: 13rem
        margin: 1rem 0
        .year
          margin: 0
        .label
          color: #FFF
          font-size: 1rem
          font-weight: 400
          text-align: center
        h3
          color: #ffffff
          font-family: Archer
          font-size: 8.125rem
          font-weight: 700
          margin: 0px
      .total
        background-color: #3c5288
      .actives
        background-color: #17b8c6
      .concluded
        background-color: #2ab52a !important;
      .without_elements
        background-color: #d2d224 !important;

    .campaign-detail
      border-bottom: 1px solid #333
      display: flex
      justify-content: flex-start
      align-items: flex-start
      padding-bottom: 1rem
      margin-bottom: 1rem
      .campaign-name
        margin-right: 2rem

    .campaign-tab-resume
      .pies
        display: flex
        justify-content: space-around
        align-items: flex-start
        h4
          text-align: center
          font-family: Archer

        .pie-container
          width: 12.5rem
          display: block
        .graphic-container
          max-height: 15rem
          display: block
  .client-report
    .tab-container
      .tab-content
        .element
          ul
            li
              width: 33.333%
  .tab-container
    .nav-tabs
      border-bottom: 1px solid #333
    .tab-content
      padding: 1rem
      .panel-default
        >.panel-heading
          border-radius: 0
          color: #FFF
          background: #3d5289
          font-family: 'Archer'
          &+.panel-collapse
            >.panel-body
              border: 1px solid #333
              border-radius: 0
      .element
        ul
          display: flex
          justify-content: flex-start
          margin: 0 -1rem
          flex-wrap: wrap
          align-items: flex-start
          list-style: none
          padding: 0
          li
            width: 25%
            padding: 1rem
            a.campaign
              border: 1px solid #eaeaea
              display: block
              position: relative
              overflow: hidden
              width: 100%
              height: 18rem
              img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: 50% 50%
                display: block
              span.title
                position: absolute
                left: 0
                right: 0
                bottom: 0
                color: #000
                background: #eaeaea
                padding: .5rem .5rem .5rem .5rem
                transition: background .5s ease, color .5s ease
                span
                  color: #FFF
                  width: 30%
                  margin-top: 3px
                  margin-left: auto
                  display: flex
                  justify-content: center
                  align-items: center
                .green
                  color: #ffffff
                  background: #33e568
                .red
                  color: #ffffff
                  background: #fe303b
                .yellow
                  color: #ffffff
                  background: #fede00
              &:hover
                span.title
                  color: #eaeaea
                  background: #000

    a
      font-family: 'Archer'
      font-size: 1rem
      border-bottom: 0
      text-transform: uppercase
      border-radius: 0
      &.active
        border: 1px solid #333
        background: #3d5289
        color: #FFF
    .fa
      font-family: FontAwesome
    .glyphicon
      font-family: 'Glyphicons Halflings'

.green-font
  color: #33e568
.yellow-font
  color: #fede00
.red-font
  color: #fe303b

.welcome-text, .btn-close
  text-align: center

.BackEvi
  background-color: #3d5289
  color: #fff
  font-size: 1.2rem
  border-radius: 0px
  margin: 10px 0px
  border: none
  padding: 1rem


a.campaignpicture
  border: 1px solid #eaeaea
  display: block
  position: relative
  overflow: hidden
  width: 100%
  height: 18rem
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: 50% 50%
    display: block

.search-bar
  border-bottom: 1px solid #333
  padding: 1rem 0
  margin-bottom: 1rem

.general
  .search-bar
    border-top: 1px solid #333

footer
  background: $color-primary
  color: #FFF
  display: flex
  justify-content: center
  align-items: center
  font-size: $default-size*.7
  height: 2rem
  letter-spacing: 1px
  font-weight: 100

.inicio
  position: fixed
  bottom: 0
  width: 100%

.loader
  position: fixed
  background: rgba(0, 0, 0, .7)
  z-index: 1052
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  .my-loader

.table-fixed
  margin-bottom: 5px

.tiny-text 
  font-size: 11px

.header-list 
  margin-bottom: 1rem
  display: table
  width: 100%
  
  h4
    float: left
  a
    float: right
    padding: .5rem .5rem !important
    margin: 0
    &:hover
      text-decoration: none

  .header-list-left
    padding: 0

.actions 
  a
    cursor: pointer

.link_nivel
  cursor: pointer
  color: #3D5289

.legend-label-text
  display: inline-block !important
  vertical-align: top !important
  line-height: 12px !important
  font-size: 12px !important
  width: 100% !important
  text-overflow: ellipsis !important
  white-space: normal !important
  overflow: hidden !important
  padding-right: 20px !important

.link_button
  padding: .7rem .5rem !important

.dp-input-container
  input
    width: 150px !important

.textRed
  color: red

.borderRed
  border-color: red

.resume-general
  h2
    margin-bottom: 2rem
    text-transform: uppercase

.resume-general
  .pie-container
    width: 65%
    display: block 
    margin: 0 auto
    border: 1px solid #dadada
    padding-bottom: 1rem
    h4
      text-align: center

.input-form
  textarea
    height: 120px
    min-height: 120px
    width: 99.9%
    max-width: 100%

.text-no-margin
  margin: 0

.inventory-installed
  margin-bottom: 4rem

.lightbox
  top: 21px !important

.client-store
  text-align: left;

#clone2
  margin: 0 15px;

.file-td
  width: 20%;
  input
    margin: 0;
    display: initial;


