<div class="level-service" *ngIf="firstScreenData">
	<div class="row">
		<div class="col-lg-12">
	      <div class=" search-bar">
		        <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
		          <strong>{{message}}</strong>
		        </div>

		        <form (submit)="onSearch()">
		          <label>Cadena</label>
		          <select [(ngModel)]="search.chain" [ngModelOptions]="{standalone: true}">
		            <option value="">Todas </option>
		            <option *ngFor="let chain of chains" value="{{chain._id}}">{{chain.name}}</option>
		          </select>

		          <label>Periocidad</label>
		          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.from" [config]="datePickerConfig"></dp-date-picker>
		          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.to" [config]="datePickerConfig"></dp-date-picker>
		          <button type="submit" class="normal-btn-search">Mostrar</button>
		        </form>
		      </div>
	    </div>
	</div>
	<div class="row">
		<ng-container *ngIf="showChart">			
			<div class="col-lg-3">
			<p><b> Resumen </b><span>{{ search.from | date: 'dd/MM/yy' }} al {{search.to | date: 'dd/MM/yy' }}</span></p>
				<table class="table table-quasar">
					<thead>
						<tr>
							<th>OK</th>
							<th>NOK</th>
							<th>NO INSTALADO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{this.allData.ok}}</td>
							<td>{{this.allData.nok}}</td>
							<td>{{this.allData.not_installed}}</td>
						</tr>
						<tr> 
							<td>{{(this.allData.ok == 0)?0:this.allData.ok/this.allData.total*100 | number: '1.2-2'}}%</td>
							<td>{{(this.allData.nok == 0)?0:this.allData.nok/this.allData.total*100 | number: '1.2-2'}}%</td>
							<td>{{(this.allData.not_installed == 0)?0:this.allData.not_installed/this.allData.total*100 | number: '1.2-2'}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-9 chartinfo">				
				<ngx-charts-pie-chart
		          [view]="resumepie.view"
		          [results]="resumepie.data"
		          [legend]="resumepie.showLegend"
		          [explodeSlices]="resumepie.explodeSlices"
		          [labels]="resumepie.showLabels"
		          [doughnut]="resumepie.doughnut"
		          [legendTitle]="resumepie.legendTitle">
		        </ngx-charts-pie-chart>
			</div>
			<div class="col-lg-12">
				<p class="pie-info"><b>OK:</b> Elementos instalados a tiempo</p>
				<p class="pie-info"><b>NOK:</b> Elementos instalados fuera de tiempo</p>
				<p class="pie-info"><b>NO INSTALADOS:</b> Elementos no instalados</p>
			</div>
		</ng-container>
	</div>
	<div class="row">
		<ng-container *ngIf="showChart">
			<div class="col-lg-12 chartinfo">
				<div class="col-lg-12 type-data">
					<p>Por Tipo</p>
					<table class="table table-quasar">
			          <thead>
				          <tr>
				            <th>Tipo</th>
				            <th>OK</th>
				            <th>NOK</th>
				            <th>No Instalado</th>
				            <th>TT</th>
				            <th>Porcentaje</th>
				          </tr>
			          </thead>
			          <tbody>
				          <tr *ngFor="let type of typeData">
				            <td class="link_nivel" (click)="sendType(type)">{{type.type}} <i class="fa fa-arrow-right" aria-hidden="true"></i></td>
				            <td>{{type.ok}}</td>
				            <td>{{type.nok}}</td>
				            <td>{{type.not_installed}}</td>
				            <td>{{type.total}}</td>
				            <td>{{type.percent | number:'1.2-2'}}%</td>
				          </tr>
				          <tr class="totalInfo">
				          	<td>TOTAL</td>
				          	<td>{{totalTypeok}}</td>
				          	<td>{{totalTypenok}}</td>
				          	<td>{{totalTypenotInst}}</td>
				          	<td>{{totalTypeTotal}}</td>
				          	<td>{{totalTypepercent | number: '1.2-2'}}%</td>
				          </tr>
			          </tbody>
			        </table>
				</div>
				<div class="col-lg-12 type-data">
					<p>Por Elemento</p>
					<table class="table table-quasar">
			          <thead>
				          <tr>
				            <th>Tipo</th>
				            <th>OK</th>
				            <th>NOK</th>
				            <th>No Instalado</th>
				            <th>TT</th>
				            <th>Porcentaje</th>
				          </tr>
			          </thead>
			          <tbody>
				          <tr *ngFor="let ele of ElementData">
				            <td>{{ele.type}}</td>
				            <td>{{ele.ok}}</td>
				            <td>{{ele.nok}}</td>
				            <td>{{ele.not_installed}}</td>
				            <td>{{ele.total}}</td>
				            <td>{{ele.percent | number:'1.2-2'}}%</td>
				          </tr>
				          <tr class="totalInfo">
				          	<td>TOTAL</td>
				          	<td>{{totalEleok}}</td>
				          	<td>{{totalElenok}}</td>
				          	<td>{{totalElenotInst}}</td>
				          	<td>{{totalEleTotal}}</td>
				          	<td>{{totalElepercent | number: '1.2-2'}}%</td>
				          </tr>
			          </tbody>
			        </table>
				</div>
				<!--<div class="col-lg-6">
					<ngx-charts-pie-chart
			          [view]="resumeType.view"
			          [results]="resumeType.data"
			          [legend]="resumeType.showLegend"
			          [explodeSlices]="resumeType.explodeSlices"
			          [labels]="resumeType.showLabels"
			          [doughnut]="resumeType.doughnut"
			          [legendTitle]="resumeType.legendTitle">
			        </ngx-charts-pie-chart>
				</div>-->
			</div>
		</ng-container>
	</div>
</div>
<div class="level-service-element" *ngIf="secondScreenData">
	<div class="row">
		<div class="col-lg-12">
			<button class="normal-btn-search" (click)="back()">Regresar</button>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-12 type-data">
				<h3>Top Clientes</h3>
				<table class="table table-quasar">
		          <thead>
			          <tr>
			            <th>Tipo</th>
			            <th>OK</th>
			            <th>NOK</th>
			            <th>No Instalado</th>
			            <th>TT</th>
			            <th>Porcentaje</th>
			          </tr>
		          </thead>
		          <tbody>
			          <tr *ngFor="let class of classes.client">
			            <td>{{class.type}}</td>
			            <td>{{class.ok}}</td>
			            <td>{{class.nok}}</td>
			            <td>{{class.not_installed}}</td>
			            <td>{{class.total}}</td>
			            <td>{{class.percent | number:'1.2-2'}}%</td>
			          </tr>
			          <tr class="totalInfo">
			          	<td>TOTAL</td>
			          	<td>{{totalTopClientok}}</td>
			          	<td>{{totalTopClientnok}}</td>
			          	<td>{{totalTopClientnotInst}}</td>
			          	<td>{{totalTopClientTotal}}</td>
			          	<td>{{totalTopClientpercent | number:'1.2-2'}}%</td>		          	
			          </tr>
		          </tbody>
		        </table>
			</div>
			<div class="col-lg-12 type-data">
				<h3>Top Tiendas</h3>
				<table class="table table-quasar">
		          <thead>
			          <tr>
			            <th>Tipo</th>
			            <th>OK</th>
			            <th>NOK</th>
			            <th>No Instalado</th>
			            <th>TT</th>
			            <th>Porcentaje</th>
			          </tr>
		          </thead>
		          <tbody>
			          <ng-container *ngFor="let class of classes.stores; let i='index'" >
			          	<ng-container *ngIf="i < 10">
			          		<tr>
					            <td>{{class.type}}</td>
					            <td>{{class.ok}}</td>
					            <td>{{class.nok}}</td>
					            <td>{{class.not_installed}}</td>
					            <td>{{class.total}}</td>
					            <td>{{class.percent | number:'1.2-2'}}%</td>
					        </tr>
					    </ng-container>
			          </ng-container>
				            <tr class="totalInfo">
					          	<td>TOTAL</td>
					          	<td>{{totalTopStoreok}}</td>
					          	<td>{{totalTopStorenok}}</td>
					          	<td>{{totalTopStorenotInst}}</td>
					          	<td>{{totalTopStoreTotal}}</td>
					          	<td>{{totalTopStorepercent | number:'1.2-2'}}%</td>         	
					        </tr>
		          </tbody>
		        </table>
			</div>
			<div class="col-lg-12 type-data">
				<h3>Top Region</h3>
				<table class="table table-quasar">
		          <thead>
			          <tr>
			            <th>Tipo</th>
			            <th>OK</th>
			            <th>NOK</th>
			            <th>No Instalado</th>
			            <th>TT</th>
			            <th>Porcentaje</th>
			          </tr>
		          </thead>
		          <tbody>
			          <ng-container *ngFor="let class of classes.regions; let i='index'" >
			          	<ng-container *ngIf="i < 10">
			          		<tr>
					            <td>{{class.type}}</td>
					            <td>{{class.ok}}</td>
					            <td>{{class.nok}}</td>
					            <td>{{class.not_installed}}</td>
					            <td>{{class.total}}</td>
					            <td>{{class.percent | number:'1.2-2'}}%</td>
					        </tr>
					    </ng-container>
			          </ng-container>
				            <tr class="totalInfo">
					          	<td>TOTAL</td>
					          	<td>{{totalTopRegionok}}</td>
					          	<td>{{totalTopRegionnok}}</td>
					          	<td>{{totalTopRegionnotInst}}</td>
					          	<td>{{totalTopRegionTotal}}</td>
					          	<td>{{totalTopRegionpercent | number:'1.2-2'}}%</td>         	
					        </tr>
		          </tbody>
		        </table>
			</div>
		</div>
	</div>
</div>