<div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message}}</strong>
</div>
<form class="create-form" [formGroup]="storeForm"
      (ngSubmit)="onSubmit(storeForm.value, true)">
  <div class="body-container">
    <div class="row input-form">
      <label class="col-md-2">Nombre:</label>
      <div class="col-md-10">
        <input formControlName="name" type="text" id="name" name="name">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Nombre Corto:</label>
      <div class="col-md-10">
        <input formControlName="shortName" type="text" name="name" id="shortName">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">SapCode:</label>
      <div class="col-md-10">
        <input formControlName="sapCode" type="text" name="name" id="sCode">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Region:</label>
      <div class="col-md-10">
        <select formControlName="region">
          <option value="">Seleccione...</option>
          <option *ngFor="let region of regions" value="{{region}}">{{region}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Zona:</label>
      <div class="col-md-10">
        <select formControlName="zone">
          <option value="">Seleccione...</option>
          <option *ngFor="let zone of zones" value="{{zone}}">{{zone}}</option>s
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Cluster:</label>
      <div class="col-md-10">
        <select formControlName="cluster">
          <option value="">Seleccione...</option>
          <option *ngFor="let cluster of clusters" value="{{cluster}}">{{cluster}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Cluster2:</label>
      <div class="col-md-10">
        <select formControlName="cluster2">
          <option value="">Seleccione...</option>
          <option *ngFor="let cluster2 of clusters2" value="{{cluster2}}">{{cluster2}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Formato:</label>
      <div class="col-md-10">
        <select formControlName="format">
          <option value="">Seleccione...</option>
          <option *ngFor="let formato of format" value="{{formato}}">{{formato}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Sector:</label>
      <div class="col-md-10">
        <select formControlName="sector">
          <option value="">Seleccione...</option>
          <option *ngFor="let sector of sectors" value="{{sector}}">{{sector}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Ruta:</label>
      <div class="col-md-10">
        <select formControlName="route">
          <option value="">Seleccione...</option>
          <option *ngFor="let rou of routes" value="{{rou._id}}">{{rou.code}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Dirección:</label>
      <div class="col-md-10">
        <input formControlName="address" type="text" id="address" name="name">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Departamento:</label>
      <div class="col-md-10">
        <select [(ngModel)]="departamento" (ngModelChange)="changeProvince(departamento)" formControlName="department">
          <option value="">Seleccione...</option>
          <option *ngFor="let department of departments" value="{{department._id}}">{{department.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="province" class="row input-form">
      <label class="col-md-2">Provincia:</label>
      <div class="col-md-10">
        <select [(ngModel)]="provincia" (ngModelChange)="changeDistrict(provincia)" formControlName="province">
          <option value="">Seleccione...</option>
          <option  *ngFor="let province of provinces" value="{{province._id}}">{{province.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="district" class="row input-form">
      <label class="col-md-2">Distrito:</label>
      <div class="col-md-10">
        <select [(ngModel)]="distrito" formControlName="district">
          <option value="">Seleccione...</option>
          <option  *ngFor="let district of districts" value="{{district._id}}">{{district.name}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Latitud:</label>
      <div class="col-md-10">
        <input formControlName="lat" type="number" id="lati" name="lati">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Longitud:</label>
      <div class="col-md-10">
        <input formControlName="lon" type="number" id="longi" name="longi">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Organización:</label>
      <div class="col-md-10">
        <select [(ngModel)]="organization" (ngModelChange)="chainOrga(organization)" formControlName="organization">
          <option value="">Seleccione...</option>
          <option *ngFor="let orga of organizations" value="{{orga._id}}">{{orga.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="showChain" class="row input-form">
      <label class="col-md-2">Cadena:</label>
      <div class="col-md-10">
        <select [(ngModel)]="cadena" formControlName="chain">
          <option value="">Seleccione...</option>
          <option *ngFor="let chain of chains" value="{{chain._id}}">{{chain.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn-addUser">Grabar</button>
    <button type="button" *ngIf="!creating" class="btn-addUser" (click)="AddContact()"> Agregar Contacto</button>
  </div>

  <div *ngIf="showbar">
      <h4>Contacto:</h4>
        <table class="table permissions">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let contact of allData.contacts; let i="index"'>
            <td>{{contact.firstname }} {{contact.lastname}}</td>
            <td>{{contact.position}}</td>
            <td>{{contact.email}}</td>
            <td>
              <div class="actions">
                <a (click)="editContact(contact, i)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(contact, i)"></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

</form>


  <!--<modal modalClass="modal-dialog modal-sm" #thisModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
    <modal-header>

    </modal-header>
    <modal-content>

    </modal-content>
  </modal> -->

<!--Modal para agregar Contactos-->

<modal modalClass="modal-dialog modal-sm" #elementModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">Agregar Contacto</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{message2}}</strong>
      </div>

    </div>
    <div class="body-mid col-md-12">
      <div class="row input-form">
        <label class="col-md-2">Cargo:</label>
        <div class="col-md-10">
          <select [(ngModel)]="contact.position" name="position">
            <option value="">Seleccione...</option>
            <option *ngFor="let charge of positions" value="{{charge}}">{{charge}}</option>
          </select>
        </div>
      </div>
      <div class="row input-form">
        <label class="col-md-2">Nombre:</label>
        <div class="col-md-10">
          <input [(ngModel)]="contact.firstname" type="text" name="firstname">
        </div>
      </div>
      <div class="row input-form">
        <label class="col-md-2">Apellido:</label>
        <div class="col-md-10">
          <input [(ngModel)]="contact.lastname" type="text" name="lastname">
        </div>
      </div>
      <div class="row input-form">
        <label class="col-md-2">Telefono:</label>
        <div class="col-md-10">
          <input [(ngModel)]="contact.phone" type="text" name="phone">
        </div>
      </div>
      <div class="row input-form">
        <label class="col-md-2">Correo:</label>
        <div class="col-md-10">
          <input [(ngModel)]="contact.email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email">
        </div>
      </div>
    </div>
    <div>
      <button type="button" (click)="sendContact()" class="btn-addUser create-btn">Agregar</button>
      <button type="button" (click)="hideElementModal()" class="btn-danger create-btn">Cancelar</button>
    </div>
  </modal-content>
</modal>

