<h2>{{name}}</h2>
<label>Periocidad</label>
  <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.from" [config]="datePickerConfig"></dp-date-picker>
  <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.to" [config]="datePickerConfig"></dp-date-picker>
  <button (click)="sendDate()" class="normal-btn-search">Mostrar</button>

	<div *ngIf="paths.length != 0" class="row history-table">
		<div class="col-md-12">
			<table class="table table-quasar">
			    <thead>
				    <tr>
				      <th>Ruta</th>
				      <th>Fecha</th>

				    </tr>
			    </thead>
			    <tbody>
			    <tr *ngFor="let p of paths">
			      <td><a [routerLink]="[p.path]">{{p.path}}</a></td>
			      <td>{{p.date | date: 'dd/MM/yy - HH:mm'}}</td>
			    </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<div *ngIf="paths.length == 0 && data" class="alert alert-danger alert-dismissible" role="alert">
		<strong>No se encontro registro</strong>
	</div>