<div class="searchUser">
  <div class="search-bar">
    <label>Periocidad: </label>
    <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="searchCampaign.from" [config]="datePickerConfig"></dp-date-picker>
    <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="searchCampaign.to" [config]="datePickerConfig"></dp-date-picker>
    <button type="button" (click)="sendSearchCampaign(searchCampaign)" class="normal-btn-search">Reporte</button>
  </div>
</div>

<div class="searchUser2">
  <div class="search">
    <label>Nombre:</label>
    <input type="text" name="search" [(ngModel)]="userFilter.name">
  </div>
  <div class="search">
    <label>Elemento:</label>
    <input type="text" name="search" [(ngModel)]="userFilter.elements[0].elementType">
  </div>
  <div class="search">
    <label>Marca:</label>
    <input type="text" name="search" [(ngModel)]="userFilter.brand">
  </div>
  <div class="search">
    <label>Cliente:</label>
    <input type="text" name="search" [(ngModel)]="userFilter.nameClient">
  </div>
  <div>
    <label>Vigencia:</label>
    <select [(ngModel)]="userFilter.validity">
      <option [ngValue]="null">Seleccione...</option>
      <option [ngValue]="'Vigente'">Vigente</option>
      <option [ngValue]="'Vencido'">Vencido</option>
    </select>
  </div>
</div>

<div id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
    <tr>
      <th>Nro</th>
      <th>NOMBRE</th>
      <th>ELEMENTO</th>
      <th>CÓDIGO</th>
      <th>MARCA</th>
      <th>CLIENTE</th>
      <th>CREACIÓN</th>
      <th>INICIO</th>
      <th>FIN</th>
      <th>ACCIONES</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let camp of campaign | filterBy: userFilter ; let i='index'" [ngClass]="{'hidden-campaign':!camp.enabled }">
      <td>{{(i+1)}}</td>
      <td>{{camp.name}}</td>
      <td>{{camp.elements[0] && camp.elements[0].elementType?camp.elements[0].elementType:'-'}}</td>
      <td>{{camp.elements[0] && camp.elements[0].code?camp.elements[0].code:'-'}}</td>
      <td>{{camp.brand}}</td>
      <td>{{camp.nameClient}}</td>
      <td>{{camp.created | date: 'dd/MM/yyyy'}}</td>
      <td>{{camp.duration.start | date: 'dd/MM/yyyy'}}</td>
      <td>{{camp.duration.end | date: 'dd/MM/yyyy'}}</td>
      <td>
        <div class="actions">
          <a (click)="sendCrono(camp)" class="glyphicon glyphicon-envelope"></a>
          <a [routerLink]="['/campaing/', camp._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
          <a *ngIf="!camp.enabled" (click)="hide(camp)" class="glyphicon glyphicon-share-alt" aria-hidden="true"></a>
          <a *ngIf="camp.enabled" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(camp)"></a>
          <a *ngIf="camp.enabled" title="eliminar" class="glyphicon glyphicon-remove" aria-hidden="true" (click)="onDisabled(camp)"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
</div>

<modal modalClass="modal-dialog modal-lg campaign2" #storeModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">Clientes:</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
    </div>
    <div *ngIf="list_clients.length == 0" class="messagealert alert alert-danger alert-dismissible" role="alert">
      <strong>Falta agregar Clientes</strong>
    </div>
    <ng-container>
      <div *ngFor="let cliente of list_clients | orderBy: 'name'" class="input-form col-md-4">
        <label class="col-md-8">{{cliente.firstname}}</label>
        <div class="col-md-4">
          <input [(ngModel)]="cliente.check" type="checkbox" name="store">
        </div>
      </div>
    </ng-container>
    <div>
      <button type="button" (click)="sendClients()" class="btn-addUser create-btn">Agregar</button>
      <button type="button" (click)="hideStoreModal()" class="btn-danger create-btn">Cancelar</button>
    </div>
  </modal-content>
</modal>
