<header class="header-quasar">
	<h1><a [routerLink]="['/incidents']">Incidencias</a></h1>
</header>
<div class="incidents">
	<div class="row">
		<div class="col-lg-12 search-bar">
	        <div>
		        <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
		          <strong>{{message}}</strong>
		        </div>

		        <form (submit)="onSearch()">
		          <div class="col-lg-12 periocity">
		          	<label>Periocidad</label>
			          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.from" [config]="datePickerConfig"></dp-date-picker>
			          <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="search.to" [config]="datePickerConfig"></dp-date-picker>
			          <button type="submit" class="normal-btn-search">Mostrar</button>
			          <button type="button" (click)="exportReport()" class="normal-btn-search">Reporte</button>
			          <button type="button" *ngIf="showManager" (click)="showAll()" class="normal-btn-search">Resolver</button>
		          </div>
		          <div *ngIf="filters" class="col-lg-4">
		          	<label>Organización</label>
			          <select (change)="showChain()" [(ngModel)]="search.orga" [ngModelOptions]="{standalone: true}">
			            <option *ngIf="organizations.length > 1" value="">Todas </option>
			            <option *ngFor="let org of organizations" value="{{org._id}}">{{org.name}}</option>
			          </select>
		          </div>

		          <div *ngIf="filters" class="col-lg-4">
		          	<label>Cadena</label>
			          <select (change)="showStore()" [(ngModel)]="search.chain" [ngModelOptions]="{standalone: true}">
			            <option value="">Todas </option>
			            <option *ngFor="let chain of chains" value="{{chain._id}}">{{chain.name}}</option>
			          </select>
		          </div>

		          <div *ngIf="filters" class="col-lg-4">
		         	 <label>Tienda</label>
			          <select (change)="showTables()" [(ngModel)]="search.store" [ngModelOptions]="{standalone: true}">
			            <option value="">Todas </option>
			            <option *ngFor="let str of stores" value="{{str._id}}">{{str.name}}</option>
			          </select>
		          </div>		         	

		        </form>
		    </div>
	    </div>
	    <div *ngIf="showincidence" class="col-lg-12">
	    	<div class="col-lg-3">
	    		<table class="table table-quasar">
	    			<thead>
	    				<tr>
		    				<th>Tienda</th>
		    				<th>Porcentaje</th>
		    			</tr>
	    			</thead>
	    			<tbody>
		    			<tr *ngFor="let str of sortable">
		    				<td>{{str.store}}</td>
		    				<td>{{(str.detail.length/totalTiendas)*100 | number : '1.2-2'}}%</td>
		    			</tr>
		    			<tr class="totalInfo">
		    				<td>Total</td>
		    				<td>100%</td>
		    			</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    	<div *ngIf="details" class="col-lg-3">
	    		<table class="table table-quasar">
	    			<thead>
	    				<tr>
	    					<th>Motivo</th>
	    					<th>Porcentaje</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<tr *ngFor="let inci of sortableInci">
	    					<td>{{inci.incidencia}}</td>
	    					<td>{{inci.detail.length/totalmotivos*100 | number: '1.2-2'}}%</td>
	    				</tr>
	    				<tr class="totalInfo">
		    				<td>Total</td>
		    				<td>100%</td>
		    			</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    	<div *ngIf="details" class="col-lg-3">
	    		<table class="table table-quasar">
	    			<thead>
	    				<tr>
	    					<th>Submotivo</th>
	    					<th>Porcentaje</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<tr *ngFor="let sub of sortableSub">
	    					<td>{{sub.submotive}}</td>
	    					<td>{{sub.detail.length/totalsubmotivos*100 | number: '1.2-2'}}%</td>
	    				</tr>
	    				<tr class="totalInfo">
		    				<td>Total</td>
		    				<td>100%</td>
		    			</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    	<div *ngIf="details" class="col-lg-3">
	    		<table class="table table-quasar">
	    			<thead>
	    				<tr>
	    					<th>Elemento</th>
	    					<th>Cantidad</th>
	    					<th>Porcentaje</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<tr *ngFor="let ele of sortableEle">
	    					<td>{{ele.element}}</td>
	    					<td>{{ele.detail.length}}</td>
	    					<td>{{ele.detail.length/totalelementoscantidad*100 | number: '1.2-2'}}%</td>
	    				</tr>
	    				<tr class="totalInfo">
		    				<td>Total</td>
		    				<td>{{totalelementoscantidad}}</td>
		    				<td>100%</td>
	    			</tbody>
	    		</table>
	    	</div>	    	
	    </div>
	    <div *ngIf="showResolve" class="col-lg-12">
	    	<div class="searchUser2">
			  <div class="search">
			  	<label>Campaña:</label>
			  	<input type="text" name="search" [(ngModel)]="userFilter.name">
			  </div>
			  <div class="search">
			  	<label>Tienda:</label>
			  	<input type="text" name="search" [(ngModel)]="userFilter.store[0].name">
			  </div>
			  <div class="search">
			  	<label>Elemento:</label>
			  	<input type="text" name="search" [(ngModel)]="userFilter.element[0].name">
			  </div>
			</div>
	    	<table class="table table-quasar">
			    <thead>
				    <tr>
				      <th>Campaña</th>
				      <th>Cliente</th>
				      <th>Elemento</th>
				      <th>Tienda</th>
				      <th>Tipo de Elemento</th>
				      <th>Comentario</th>
				      <th>Motivo</th>
				      <th>Submotivo</th>
				      <th>Estado</th>
				      <th>Fecha de Registro</th>
				      <th>Fecha de Resolución</th>
				      <th>Imagen</th>
				      <th *ngIf="showManager">Acciones</th>
				    </tr>
			    </thead>
			    <tbody>
			    <tr *ngFor="let ins of insidence | filterBy: userFilter; let i = 'index'">
			      <td>{{ins.name?ins.name:'-'}}</td>
			      <td>{{ins.client[0].name}}</td>
			      <td>{{ins.element[0].name}}</td>
			      <td>{{ins.store[0].name}}</td>
			      <td>{{ins.element[0].type?ins.element[0].type:'-'}}</td>
			      <td>{{ins.issue.comment}}</td>
			      <td>{{ins.issue.motive}}</td>
			      <td>{{ins.issue.submotive}}</td>
			      <td>{{ins.issue.status}}</td>
			      <td>{{ins.issue.date | date: 'dd/MM/yy'}}</td>
			      <td>{{ins.issue.dateResolution | date: 'dd/MM/yy'}}</td>
			      <td><a target="_blank" href="{{ URL + ins.issue.picture}}" class="fa fa-picture-o" aria-hidden="true"></a></td>
			      <td *ngIf="showManager">
			      	<div class="actions">
			          <a (click)="showModal(ins)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
			          <a (click)="deleteIncident(ins, i)" class="glyphicon glyphicon-trash" aria-hidden="true"></a>
			        </div>
			      </td>
			    </tr>
			    </tbody>
			</table>
	    </div>
	</div>
</div>

<!-- Modal Resolver Editar -->
<modal modalClass="modal-dialog modal-sm" #editInci [closeOnEscape]="false" [closeOnOutsideClick]="true">
	<modal-header>
		<h4 class="modal-title pull-left">{{inci.name}} / Editar</h4>
	</modal-header>
	<modal-content>
		<div class="body-container col-md-12">
            <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
                <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
  		</div>
        <div class="body-mid">
            <div class="uni-ins">
                <div class="col-lg-12 input-form">
                  <label>Estado:</label>
                  <div class="col-lg-12">
                    <input type="checkbox" [(ngModel)]="params.status" />
                  </div>
                </div>
                <div class="col-lg-12 input-form">
                  <label>Fecha:</label>
                  <div class="col-lg-12">
                    <dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="params.date" [config]="datePickerConfig"></dp-date-picker>
                  </div>
                </div>              
            </div>
        </div>
        <div>
        	<button type="button" (click)="putInsi()" class="btn-addUser create-btn">Grabar</button>
        </div>
	</modal-content>
</modal>

