<div class="btl" id="contentScroll">
  <table class="table table-quasar" id="tablescroll">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Cliente</th>
        <th>Marca</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let btl of btls; let i='index'">
        <td>{{i+1}}</td>
        <td>{{btl.name}}</td>
        <td>{{btl.client.name}}</td>
        <td>{{btl.brand}}</td>
        <td>
          <div class="actions">
            <a [routerLink]="['/btl/', btl._id, 'edit']" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
            <a title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(camp)"></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="bottom_anchor"></div>
</div>
