<div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message}}</strong>
</div>
<form class="create-form">
  <div class="body-container" [ngClass]="{'col-md-12':creating, 'col-md-9':!creating }">
    <div class="row input-form">
      <label class="col-md-2">Nombre:</label>
      <div class="col-md-10">
        <input [(ngModel)]="campaign.name" type="text" name="name" id="name" style="width:300px">
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Cliente:</label>
      <div class="col-md-10">
        <select [(ngModel)]="campaign.client" name="client">
          <option value="">Seleccione...</option>
          <option *ngFor="let client of list_clients" value="{{client._id}}">{{client.name}}</option>
        </select>
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Marca:</label>
      <div class="col-md-10">
        <input [(ngModel)]="campaign.brand" type="text" name="brand">
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Categoria master:</label>
      <div class="col-md-10">
        <select [(ngModel)]="campaign.master" (change)="campaign.categoryParent = campaign.category = ''" name="categoryMaster">
          <option value="">Seleccione...</option>
          <option *ngFor="let category of list_categories; let i=index" [ngValue]="i + 1">{{category.name}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="campaign.master != ''" class="row input-form">
      <label class="col-md-2">Categoria padre:</label>
      <div class="col-md-10">
        <select [(ngModel)]="campaign.categoryParent" (change)="campaign.category = ''" name="categoryParent">
          <option value="">Seleccione...</option>
          <option *ngFor="let category of list_categories[campaign.master - 1]?.categories; let i=index" [ngValue]="i + 1">{{category.name}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="campaign.master != '' && campaign.categoryParent != ''" class="row input-form">
      <label class="col-md-2">Categoria:</label>
      <div class="col-md-10">
        <select [(ngModel)]="campaign.category" name="category">
          <option value="">Seleccione...</option>
          <option *ngFor="let category of list_categories[campaign.master -1]?.categories[campaign.categoryParent-1].subcategories; let i=index" [ngValue]="category">{{category}}</option>
        </select>
      </div>
    </div>

    <!---->
    <div class="row input-form">
      <label class="col-md-2">Fecha Inicio:</label>
      <div class="col-md-3">
        <angular2-date-picker [(ngModel)]="campaign.duration.start" [settings]="settingsDateTime" [ngModelOptions]="{standalone: true}"></angular2-date-picker>
        <!--<dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="campaign.duration.start" [config]="datePickerConfig"></dp-date-picker>-->
      </div>
    </div>
    <div class="row input-form">
      <label class="col-md-2">Fecha Fin:</label>
      <div class="col-md-3">
        <angular2-date-picker [(ngModel)]="campaign.duration.end" [settings]="settingsDateTime" [ngModelOptions]="{standalone: true}"></angular2-date-picker>
        <!--<dp-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="campaign.duration.end" [config]="datePickerConfig"></dp-date-picker>-->
      </div>
    </div>

    <div class="row input-form">
      <label class="col-md-2">Imagen:</label>
      <div class="col-md-10">
        <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
      </div>
    </div>

    <div>
      <div>
        <button (click)="onSubmit(campaign)" class="btn-addUser create-btn">Grabar</button>
      </div>

      <div>
        <button *ngIf="showBtnAddElement" type="button" (click)="showElementModal()" class="btn-addUser create-btn">Añadir Elemento</button>
        <button *ngIf="showBtnAddElement" type="button" (click)="exportReport()" class="btn-addUser create-btn">Reporte</button>
        <button *ngIf="showBtnAddElement" type="button" (click)="preExportPdf()" class="btn-addUser create-btn">Reporte Gráfico</button>
      </div>
    </div>
  </div>

  <div *ngIf="!creating" [ngClass]="{'col-md-12':creating, 'col-md-3': !creating }">
    <img onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';" class="img-campaing" src="{{ url_base + campaign.image}}">
  </div>
</form>



<!-- Modal para agregar elementos -->
<modal modalClass="modal-dialog modal-lg campaign2" #elementModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
    <modal-header>
      <h4 class="modal-title pull-left">Elemento: <span *ngIf="!codedit">{{currentElement?.update.code}}</span></h4>
    </modal-header>
    <modal-content>
      <div class="body-container col-md-12">
        <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
          <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{message2}}</strong>
        </div>

      </div>
      <div class="body-mid col-md-12">
        <div class="col-md-12 input-form">
          <label class="col-md-3">Código:</label>
          <div class="col-md-9">
            <input [(ngModel)]="currentElement?.update.code" type="number" name="code">
          </div>
        </div>
        <div class="col-md-12 input-form">
          <label class="col-md-3">Ubicación:</label>
          <div class="col-md-9">
            <input [(ngModel)]="currentElement?.update.location" type="text" name="loca">
          </div>
        </div>
        <div class="col-md-12 input-form">
          <label class="col-md-3">Implementador:</label>
          <div class="col-md-9">
            <select [(ngModel)]="currentElement?.update.implementer" name="opera">
              <option value="">Seleccione...</option>
              <option *ngFor="let ope of operators" value="{{ope}}">{{ope}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 input-form">
          <label class="col-md-3">Elemento:</label>
          <div class="col-md-9">
            <select [(ngModel)]="currentElement?.update.element._id" (change)="onChangeElement()" name="element">
              <option value="">Seleccione...</option>
              <option *ngFor="let ele of list_elements | orderBy: 'name'" [ngValue]="ele._id">{{ele.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 input-form">
          <label class="col-md-3">Tipo de elemento:</label>
          <div class="col-md-9">
            <select [(ngModel)]="currentElement?.update.elementType" name="typeele">
              <option value="">Seleccione...</option>
              <option *ngFor="let tipo of elementTypes" [ngValue]="tipo.name">{{tipo.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <button type="button" (click)="saveElement()" class="btn-addUser create-btn">Agregar</button>
        <button type="button" (click)="hideElementModal()" class="btn-danger create-btn">Cancelar</button>
      </div>
    </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #storeModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">Tiendas:</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <strong>{{message2}}</strong>
      </div>
    </div>

    <ng-container>
      <accordion [closeOthers]='true'>
        <accordion-group *ngFor="let orga of list_organization | orderBy: 'name'" heading="{{orga.name}}">
          <div *ngFor="let shop of orga.stores | orderBy: 'name'" class="input-form col-md-4">
            <label class="col-md-8">{{shop.name}}</label>
            <div class="col-md-4">
              <input [(ngModel)]="shop.check" type="checkbox" name="store">
            </div>
          </div>
        </accordion-group>
      </accordion>
    </ng-container>
    <div>
      <button type="button" (click)="saveStores()" class="btn-addUser create-btn">Agregar</button>
      <button type="button" (click)="hideStoreModal()" class="btn-danger create-btn">Cancelar</button>
    </div>
  </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #importExcelModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">Archivo:</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{message2}}</strong>
      </div>
    </div>
    <ng-container>
      <input type="file" #file (change)="openExcel(file.files)"/>
    </ng-container>
    <div>
      <button type="button" (click)="saveExcelStores()" class="btn-addUser create-btn">Agregar</button>
      <button type="button" (click)="hideImportExcelModal()" class="btn-danger create-btn">Cancelar</button>
    </div>
  </modal-content>
</modal>



<div class="body-container col-md-12">
  <div *ngIf="campaign?.elements?.length > 0">
    <h4>Elementos:</h4>
    <table class="table table-quasar">
      <thead>
        <tr>
          <th>Código</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let element of campaign.elements; let i="index"' [ngClass]="{'hidden-campaign':!element.enabled }">
          <td>{{ element.code }}</td>
          <td>{{ element.elementType }}</td>
          <td>
            <div class="actions">
              <a (click)="showList(element, i)" class="glyphicon glyphicon-th-list" aria-hidden="true"></a>
              <a (click)="showStoreModal(element, i)" class="glyphicon glyphicon-plus" aria-hidden="true"></a>
              <a (click)="showImportExcelModal(element, i)" class="glyphicon glyphicon glyphicon-open-file" aria-hidden="true"></a>
              <a (click)="showElementModal(element)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
              <a *ngIf="!element.enabled" (click)="hide(element, i, campaign.elements)" class="glyphicon glyphicon-share-alt" aria-hidden="true"></a>
              <a *ngIf="element.enabled" title="eliminar" class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(element, i, campaign.elements)"></a>
              <a *ngIf="element.enabled" title="eliminar" class="glyphicon glyphicon-remove" aria-hidden="true" (click)="onDisabled(element, i, campaign.elements)"></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- <modal modalClass="modal-dialog modal-lg campaign2" #elementModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
  </modal-header>
  <modal-content>
  </modal-content>
  <modal-footer>
  </modal-footer>
</modal> -->

<modal modalClass="modal-dialog modal-lg campaign2" #listStoreModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">Tiendas Seleccionadas</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
    <div class="body-mid">
      <div>
        <div class="liststores">
          <table class="table table-quasar">
            <thead>
              <tr>
                <th colspan="3"></th>
                <th colspan="2">Necesita</th>
                <th colspan="2">Instalación Programada</th>
                <th colspan="2">Instalación Real</th>
                <th>Inventario</th>
                <th></th>
              </tr>
              <tr>
                <th>Nro</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Confirmación</th>
                <th>Medidas</th>
                <th>In</th> 
                <th>Out</th>
                <th>In</th>
                <th>Out</th>
                <th></th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of listStore; let i = 'index'" [ngClass]="{'hidden-campaign':k.blocked }">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  {{k.code.split('-')[0] + k.code.split('-')[1]}}
                </td>
                <td>
                  {{k.store.name}}
                </td>
                <td>
                  <p *ngIf="k.needConfirmation">Sí</p>
                  <p *ngIf="!k.needConfirmation">No</p>
                </td>
                <td>
                  <p *ngIf="k.needMeasurement">Sí</p>
                  <p *ngIf="!k.needMeasurement">No</p>
                </td>
                <td>
                  {{k.chronological.install | amDateFormat: 'DD-MM-YYYY'}}
                </td>
                <td>
                  {{k.chronological.uninstall | amDateFormat: 'DD-MM-YYYY'}}
                </td>
                <td>
                  <p *ngIf="k.installed.date">{{k.installed.date | amDateFormat: 'DD-MM-YYYY'}}</p>
                  <i *ngIf="!k.installed.date" (click)="installRealDate(k)" class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                </td>
                <td>
                  <p *ngIf="k.uninstalled.date">{{k.uninstalled.date | amDateFormat: 'DD-MM-YYYY'}}</p>
                  <i *ngIf="!k.uninstalled.date && k.installed.date" (click)="uninstallRealDate(k)" class="glyphicon glyphicon-plus"></i>
                </td>
                <td>
                  <p *ngIf="k.inventory.date">{{k.inventory.date | amDateFormat: 'DD-MM-YYYY'}}</p>
                  <i *ngIf="!k.inventory.date && k.installed.date" (click)="inventoryRealDate(k)" class="glyphicon glyphicon-plus"></i>
                  <i *ngIf="k.inventory.length > 0 && k.installed.date" (click)="listInventories(k, i)" class="glyphicon glyphicon-th-list"></i>                  
                </td>
                <td>
                  <i title="Editar" (click)="editStore(k, i)" class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                  <i title="Confirmación" (click)="confirmation(k, i)" *ngIf="k.needConfirmation" class="fa fa-check"></i>
                  <i title="Medidas" (click)="measurement(k, i)" *ngIf="k.needMeasurement" class="fa fa-tags"></i>                      
                  <i title="Eliminar" (click)="deletethisStore(k, i)" class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                  <i *ngIf="!k.blocked" title="Bloquear" class="glyphicon glyphicon-remove" aria-hidden="true" (click)="blocked(k)"></i>
                  <i *ngIf="k.blocked" title="Regresar" class="glyphicon glyphicon-share-alt" aria-hidden="true" (click)="unblocked(k)"></i>
                  <i title="Incidencias" class="glyphicon glyphicon-exclamation-sign exclamation-sign" aria-hidden="true" (click)="listIssues(k, i)" *ngIf="k.count>0"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="listStore.length == 0">
          <div class="alert alert-danger" role="alert">
            <p>Falta agregar tiendas</p>
          </div>
        </div>
      </div>
      <div>
        <button type="button" (click)="hidelistStoreModal()" class="btn-addUser create-btn">Aceptar</button>
      </div>
    </div>
  </modal-content>
</modal>

<modal modalClass='modal-dialog modal-lg campaign2' #ListInventoriesModal [closeOnEscape]='false' [closeOnOutsideClick]='true'>
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Inventarios Realizados</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="ListInventoriesModal.close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
    <div class="body-mid">
      <div>
        <div class="liststores">
          <table class="table table-quasar">
            <thead>
              <tr>
                <th></th>
                <th>Fecha</th>
                <th>Comentario</th>
                <th>Imagen</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of inventories; let i = 'index'">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  {{k.date | amDateFormat: 'DD-MM-YYYY'}}
                </td>
                <td>
                  {{k.comment}}
                </td>
                <td>
                  <a href="{{url_base + k.picture}}" target="_blank"><i title="Imagen Inventario" class="glyphicon glyphicon-picture" aria-hidden="true"></i></a>
                </td>
                <td class="file-td">
                    <input id="file-in-{{i}}" (change)="changeFileInventory($event, k)" type="file" />
                </td>
                <td>
                    <button *ngIf="k.base64" class="btn-addUser" (click)="invenotryUpdate(k)">Guardar</button>
                </td>
                <td>
                  <a (click)="inventoryDelete(k)"><i title="Imagen Inventario" class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </modal-content>
</modal>

<modal modalClass='modal-dialog modal-lg campaign2' #ListIssuesModal [closeOnEscape]='false' [closeOnOutsideClick]='true'>
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Incidencias de Instalación</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="ListIssuesModal.close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
    <div class="body-mid">
      <div>
        <div class="liststores">
          <table class="table table-quasar">
            <thead>
              <tr>
                <th></th>
                <th>Fecha</th>
                <th>Motivo</th>
                <th>Submotivo</th>
                <th>Comentario</th>
                <th>Imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of issuesInstalls; let i = 'index'">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  {{k.date | amDateFormat: 'DD-MM-YYYY'}}
                </td>
                <td>
                  {{k.motive}}
                </td>
                <td>
                  {{k.submotive}}
                </td>
                <td>
                  {{k.comment}}
                </td>
                <td>
                  <a href="{{url_base + k.picture}}" target="_blank"><i title="Imagen Incidencia" class="glyphicon glyphicon-picture" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="listStore.length == 0">
          <div class="alert alert-danger" role="alert">
            <p>Falta agregar tiendas</p>
          </div>
        </div>
      </div>
    </div>
  </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #InstallModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Instalación Real</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>

    <div class="body-mid">
      <div>
        <div class="uni-ins">
          <div class="col-lg-12 input-form">
            <label>Imagen:</label>
            <div>
              <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
            </div>
          </div>
          <div class="col-lg-12 input-form">
            <label>Fecha Instalación:</label>
            <div>

            </div>
              <angular2-date-picker [(ngModel)]="date2" [settings]="settingsDateTime"></angular2-date-picker>
          </div>

          <div class="col-lg-12 input-form">
            <label>Estado</label>
            <div>
              <select [(ngModel)]='statusInstall'>
                <option value="0">Instalado</option>
                <option value="1">No Instalado</option>
              </select>
            </div>
          </div>

          <div class="col-lg-12" *ngIf='statusInstall == "1"'>
            <div class="input-form">
              <label>Motivo</label>
              <div>
                <select [(ngModel)]='dataInstall.motive'>
                  <option value="">Selecciona</option>
                  <option value='{{motive}}' *ngFor='let motive of motives_install'>{{motive}}</option>
                </select>
              </div>
            </div>
            <br>
            <div class="input-form">
              <label>SubMotivo</label>
              <div>
                <select [(ngModel)]='dataInstall.submotive'>
                  <option value="">Selecciona</option>
                  <option value='{{submotive}}' *ngFor='let submotive of submotives_install'>{{submotive}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-lg-12 input-form">
            <label>Comentario:</label>
            <div>
              <textarea style="width: 100%" [(ngModel)]="comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" (click)="install(date2, comment)" class="btn-addUser create-btn">Guardar</button>
    </div>
  </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #UninstallModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Desinstalación Real</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>

    <div class="body-mid">
      <div>
        <div class="uni-ins">
          <div *ngIf='statusUninstall == "1"' class="col-lg-12 input-form">
            <label>Imagen:</label>
            <div>
              <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
            </div>
          </div>
          <div class="col-lg-12 input-form">
            <label>Fecha Instalación:</label>
            <div>
              <angular2-date-picker [(ngModel)]="uninstallation" [settings]="settingsDateTime"></angular2-date-picker>
            </div>
          </div>

          <div class="col-lg-12 input-form">
            <label>Estado</label>
            <div>
              <select [(ngModel)]='statusUninstall'>
                <option value="0">Desinstalado</option>
                <option value="1">No deinstalado</option>
              </select>
            </div>
          </div>

          <div class="col-lg-12" *ngIf='statusUninstall == "1"'>
            <div class="input-form">
              <label>Motivo</label>
              <div>
                <p>{{dataUninstall.motive}}</p>
              </div>
            </div>
            <br>
            <div class="input-form">
              <label>SubMotivo</label>
              <div>
                <p>{{dataUninstall.submotive}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-12 input-form">
            <label>Comentario:</label>
            <div>
              <textarea style="width: 100%" [(ngModel)]="comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" (click)="uninstall(uninstallation, comment)" class="btn-addUser create-btn">Guardar</button>
    </div>
  </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #InventoryModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Inventario Real</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>

    <div class="body-mid">
      <div>
        <div class="uni-ins">
          <div class="col-lg-12 input-form">
            <label>Imagen:</label>
            <div>
              <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
            </div>
          </div>
          <div class="col-lg-12 input-form">
            <label>Fecha Inventario:</label>
            <div>
              <angular2-date-picker [(ngModel)]="dInventary" [settings]="settingsDateTime"></angular2-date-picker>
            </div>
          </div>

          <div class="col-lg-12 input-form">
            <label>Estado</label>
            <div>
              <select [(ngModel)]='statusInventory'>
                <option value="0">Inventariado</option>
                <option value="1">No Encontrado</option>
              </select>
            </div>
          </div>

          <div class="col-lg-12 input-form" *ngIf='statusInventory == "1"'>
            <div *ngIf="dataInventory.motive == 'Elemento no instalado por Quasar'">
              <div>
                <label>Elemento:</label>
                <div>
                  <select [(ngModel)]="dataInventory.element" name="element">
                    <option value="">Seleccione...</option>
                    <option *ngFor="let ele of list_elements | orderBy: 'name'" [ngValue]="ele._id">{{ele.name}}</option>
                  </select>
                </div>
              </div>

              <div>
                <label>Categoria:</label>
                <div>
                  <select [(ngModel)]="dataInventory.category" name="element">
                    <option value="">Seleccione...</option>
                    <option *ngFor="let cat of arCategories" [ngValue]="cat">{{cat}}</option>
                  </select>
                </div>
              </div>

              <div>
                <label>Material:</label>
                <div>
                  <select [(ngModel)]="dataInventory.material" name="element">
                    <option value="">Seleccione...</option>
                    <option *ngFor="let mat of arMaterials" [ngValue]="mat">{{mat}}</option>
                  </select>
                </div>
              </div>

              <div>
                <label>Cliente:</label>
                <div>
                  <select [(ngModel)]="dataInventory.client" name="client">
                    <option value="">Seleccione...</option>
                    <option *ngFor="let client of list_clients" value="{{client._id}}">{{client.name}}</option>
                  </select>
                </div>
              </div>

              <div>
                <label>Cantidad:</label>
                <div>
                  <input [(ngModel)]="dataInventory.quantity" type="text" name="brand">
                </div>
              </div>

              <div>
                <label>Marca:</label>
                <div>
                  <input [(ngModel)]="dataInventory.brand" type="text" name="brand">
                </div>
              </div>

              <div>
                <label>Responsable:</label>
                <div>
                  <input [(ngModel)]="dataInventory.responsable" type="text" name="brand">
                </div>
              </div>
            </div>

            <div>
              <label>Motivo</label>
              <div>
                <select [(ngModel)]='dataInventory.motive'>
                  <option value="">Selecciona</option>
                  <option value='{{motive}}' *ngFor='let motive of motives'>{{motive}}</option>
                </select>
              </div>
            </div>

            <div>
              <label>SubMotivo</label>
              <div>
                <select [(ngModel)]='dataInventory.submotive'>
                  <option value="">Selecciona</option>
                  <option value='{{submotive}}' *ngFor='let submotive of submotives'>{{submotive}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-lg-12 input-form">
            <label>Comentario:</label>
            <div>
              <textarea style="width: 100%" [(ngModel)]="comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" (click)="taskInventory(dInventary, comment)" class="btn-addUser create-btn">Guardar</button>
    </div>
  </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #EditStoreModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Editar Tienda</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>

    <div class="body-mid">
      <div>
        <div class="uni-ins">

          <div class="col-lg-12 input-form">
            <label class="col-md-5">Necesita Confirmación:</label>
            <div class="col-md-7">
              <input [(ngModel)]="editstore.needConfirmation" type="checkbox" name="confirmation" id="name">
            </div>
          </div>

          <div class="col-lg-12 input-form">
            <label class="col-md-5">Necesita Medidas:</label>
            <div class="col-md-7">
              <input [(ngModel)]="editstore.needMeasurement" type="checkbox" name="boolean" id="name">
            </div>
          </div>

          <div class="col-lg-12 input-form">
            <label class="col-md-5">Localización:</label>
            <div class="col-md-7">
              <input [(ngModel)]="editstore.location" type="text" name="location" id="name">
            </div>
          </div>

          <div class="col-lg-12 row input-form">
            <div class="col-lg-4 input-form">
              <div class="col-lg-12 input-form">
                <div class="row input-form">
                  <label class="col-md-12">Fecha Inicio:</label>
                  <div class="col-md-12">
                    <angular2-date-picker [(ngModel)]="editstore.chronological.install" [settings]="settingsDateTime"></angular2-date-picker>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 input-form">
                <div class="row input-form">
                  <label class="col-md-12">Fecha Fin:</label>
                  <div class="col-md-12">
                    <angular2-date-picker [(ngModel)]="editstore.chronological.uninstall" [settings]="settingsDateTime"></angular2-date-picker>
                  </div>
                </div>
              </div>
              <div *ngIf="editstore.installed.picture" class="col-lg-12 input-form">
                <div class="row input-form">
                  <label class="col-md-12">Fecha de Instalación:</label>
                  <div class="col-md-12">
                    <angular2-date-picker [(ngModel)]="editstore.installed.date" [settings]="settingsDateTime"></angular2-date-picker>
                  </div>
                </div>
              </div>
              <div *ngIf="editstore.installed.picture" class="col-lg-12 input-form">
                <div class="row input-form">
                  <label class="col-md-12">Observación de Instalación:</label>
                  <div class="col-md-12">
                    <!--<angular2-date-picker  [settings]="settingsDateTime"></angular2-date-picker>-->
                    <textarea [(ngModel)]="editstore.installed.comment">
                    </textarea>
                  </div>
                </div>
              </div>
              <div *ngIf="editstore.installed.picture" class="col-lg-12 input-form">
                <button type="button" (click)="execStore('delete_install', editstore)" class="btn-addUser create-btn">Eliminar Instalación</button>
              </div>

              <div *ngIf="editstore.uninstalled.ok" class="col-lg-12 input-form">
                <div class="row input-form">
                  <label class="col-md-12">Fecha de Desinstalación:</label>
                  <div class="col-md-12">
                    <angular2-date-picker [(ngModel)]="editstore.uninstalled.date" [settings]="settingsDateTime"></angular2-date-picker>
                  </div>
                </div>
              </div>
              <div *ngIf="editstore.uninstalled.ok" class="col-lg-12 input-form">
                <div class="row input-form">
                  <label class="col-md-12">Observación de Desinstalación:</label>
                  <div class="col-md-12">
                    <!--<angular2-date-picker  [settings]="settingsDateTime"></angular2-date-picker>-->
                    <textarea [(ngModel)]="editstore.uninstalled.comment">
                    </textarea>
                  </div>
                </div>
              </div>
              <div *ngIf="editstore.uninstalled.ok" class="col-lg-12 input-form">
                <button type="button" (click)="execStore('delete_uninstall', editstore)" class="btn-addUser create-btn">Eliminar Desinstalación</button>
              </div>

            </div>
            <div *ngIf="editstore.installed.picture" class="col-lg-8 input-form">
              <label class="col-lg-12">Imagen de instalación:</label>
              <div class="row input-form">
                <label class="col-md-2">Cambiar:</label>
                <div class="col-md-10">
                  <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
                </div>
              </div>
              <img height="20" onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg';" class="img-campaing" src="{{ url_base + editstore.installed.picture}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" (click)="putStore(editstore)" class="btn-addUser create-btn">Grabar</button>
    </div>
  </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #ConfirmationModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Confirmación</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>

    <div class="body-mid">
      <div class="uni-ins">
        <div class="col-lg-12 input-form">
          <label class="col-md-2">Imagen:</label>
          <div class="col-md-10">
            <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
          </div>
        </div>
        <div class="col-lg-12 input-form">
          <label class="col-md-2">Referencia:</label>
          <div class="col-md-10">
            <textarea [(ngModel)]="confirm.reference" name="reference" id="" cols="40" rows="3"></textarea>
          </div>
        </div> 
        <div class="col-lg-12 input-form">
          <label class="col-md-2">Comentario:</label>
          <div class="col-md-10">
            <textarea [(ngModel)]="confirm.comment" name="comment" id="" cols="40" rows="3"></textarea>
          </div>
        </div>               
      </div>
    </div>
    <div>
      <button type="button" (click)="confirmConfirmation(confirm)" class="btn-addUser create-btn">Grabar</button>
    </div>
  </modal-content>
</modal>

<modal modalClass="modal-dialog modal-lg campaign2" #MeasurementModal [closeOnEscape]="false" [closeOnOutsideClick]="true">
  <modal-header>
    <h4 class="modal-title pull-left">{{storeName}} / Medidas</h4>
  </modal-header>
  <modal-content>
    <div class="body-container col-md-12">
      <div *ngIf="message2" class="messagealert alert alert-danger alert-dismissible" role="alert">
        <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>

    <div class="body-mid">
      <div class="uni-ins">
        <div class="col-lg-12 input-form">
          <label class="col-md-2">Imagen:</label>
          <div class="col-md-10">
            <input id="filePicker" (change)="handleFileSelect($event)" type="file" />
          </div>
        </div>
        <div class="col-lg-12 input-form">
          <label class="col-md-2">Observaciones:</label>
          <div class="col-md-10">
            <textarea [(ngModel)]="taskMeasu.observation" name="obse" id="" cols="40" rows="3"></textarea>
          </div>
        </div> 
        <div *ngFor="let medi of tienda.measurements" class="">
          <h2>{{medi.side}}</h2>
          <div class="col-lg-12 input-form">
            <label class="col-md-2">Medida:</label>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="medi.value" name="medida">
            </div>
          </div>
          <div class="col-lg-12 input-form">
            <label class="col-md-2">Cuantidad:</label>
            <div class="col-md-10">
              <input type="number" [(ngModel)]="medi.quantity" name="quantity">
            </div>
          </div>
        </div>               
      </div>
    </div>
    <div>
      <button type="button" (click)="confirmMeasurement(taskMeasu, tienda.measurements)" class="btn-addUser create-btn">Grabar</button>
    </div>
  </modal-content>
</modal>
